<section class="work_steps section this--top">
    <div class="container">
        <div class="work_steps__content">
            <h2 class="work_steps__title this--red">Этапы работы</h2>
            <div class="work_steps__line line"></div>
            <div class="work_steps__counts">
                <div class="investors_top__counts this--services_card">
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">1</div>
                        <div class="investors_top__count_bottom">Этап работы</div>
                    </div>
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">2</div>
                        <div class="investors_top__count_bottom">Этап работы длинный в две строки</div>
                    </div>
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">3</div>
                        <div class="investors_top__count_bottom">Этап работы</div>
                    </div>
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">4</div>
                        <div class="investors_top__count_bottom">Этап работы</div>
                    </div>
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">5</div>
                        <div class="investors_top__count_bottom">Этап работы</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>