<section class="services">
    <div class="container">
        <div class="services__content">
            <div class="services__breadcrumbs breadcrumbs">
                <div class="breadcrumbs_wr">
                    <a href="/" class="breadcrumb this--link">Главная <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="#26160C" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    </a>
                    <div class="breadcrumb">Услуги</div>
                </div>
            </div>
            <h1 class="services__title">Услуги</h1>
            <div class="services__links">
                <a href="#" class="services__link">
                    <div class="services__link_img">
                        <img src="./img/main/main_activities/1.jpg" alt="">
                    </div>
                    <div class="services__link_bottom">
                        <div class="services__link_text">Проектирование и монтаж объектов теплоэнергетики</div>
                        <div class="services__link_arrow"></div>
                    </div>
                </a>
                <a href="#" class="services__link">
                    <div class="services__link_img">
                        <img src="./img/main/main_activities/2.jpg" alt="">
                    </div>
                    <div class="services__link_bottom">
                        <div class="services__link_text">Подключение к сетям</div>
                        <div class="services__link_arrow"></div>
                    </div>
                </a>
                <a href="#" class="services__link">
                    <div class="services__link_img">
                        <img src="./img/main/main_activities/3.jpg" alt="">
                    </div>
                    <div class="services__link_bottom">
                        <div class="services__link_text">Выработка, транспортировка и обеспечение потребителей ресурсами</div>
                        <div class="services__link_arrow"></div>
                    </div>
                </a>
                <a href="#" class="services__link">
                    <div class="services__link_img">
                        <img src="./img/main/main_activities/4.jpg" alt="">
                    </div>
                    <div class="services__link_bottom">
                        <div class="services__link_text">Эксплуатация тепловых сетей</div>
                        <div class="services__link_arrow"></div>
                    </div>
                </a>
                <a href="#" class="services__link">
                    <div class="services__link_img">
                        <img src="./img/main/main_activities/5.jpg" alt="">
                    </div>
                    <div class="services__link_bottom">
                        <div class="services__link_text">Техническое обслуживание индивидуальных тепловых пунктов</div>
                        <div class="services__link_arrow"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>