.help__content {
  margin-top: 30px;
  position: relative;
  @media ($tablet) {
    margin-top: 20px;
  }
}
.help__subtitle {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;

  @media ($tablet3) {
    font-size: 1.8rem;
  }
}
.help__form {
  margin-top: 30px;
  width: 60%;
  @media ($desktop) {
    width: 100%;
  }
  @media ($tablet) {
    margin-top: 20px;
  }
}
.help__form_inputs {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-bottom: -40px;
  @media ($mobile) {
    margin-left: 0;
  }
}

.help__form_input_wr {
  margin-left: 20px;
  width: calc(50% - 20px);
  margin-bottom: 40px;

  &.this--full {
    width: calc(100% - 20px);
    @media ($mobile) {
      width: 100%;
    }
  }

  @media ($mobile) {
    margin-left: 0;
    width: 100%;
  }
}
.help__form_submit {
  margin-top: 60px;
  width: 186px;
  height: 70px;
  @media ($tablet) {
    margin-top: 40px;
  }
}
.help__img {
  position: absolute;
  width: 549px;
  height: 583px;
  top: -70px;
  right: -130px;

  @media ($desktopBig) {
    top: 0;
    right: 0;
    width: 36%;
    height: 425px;
  }
  @media ($desktop) {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}