<section class="lk">
    <div class="container">
        <div class="lk__content">
            <span class="lk__mob_menu_btn"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15.9999" cy="10.2065" r="7.05792" stroke="#FFFFFF" stroke-width="3"/>
                        <path d="M4.96456 28.3281C5.22975 23.4434 9.89034 19.2625 16 19.2625C22.1097 19.2625 26.7703 23.4434 27.0355 28.3281H4.96456Z" stroke="#FFFFFF" stroke-width="3"/>
                    </svg></span>
            <div class="lk__menu">
                <span class="lk__menu_cross"></span>
                <div class="lk__menu_title">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15.9999" cy="10.2065" r="7.05792" stroke="#4F4F4F" stroke-width="3"/>
                        <path d="M4.96456 28.3281C5.22975 23.4434 9.89034 19.2625 16 19.2625C22.1097 19.2625 26.7703 23.4434 27.0355 28.3281H4.96456Z" stroke="#4F4F4F" stroke-width="3"/>
                    </svg>
                    Личный кабинет
                </div>
                <div class="lk__menu_line line"></div>
                <ul class="lk__menu_items">
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Подача показаний</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Заявки</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link active">История показаний</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Документы</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Мои данные</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Мои реквизиты</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Помощь</a></li>
                </ul>
                <div class="lk__menu_line line"></div>
                <a href="#" class="lk__menu_exit">Выйти из личного кабинета</a>
            </div>
            <div class="lk__body">
                <div class="history">
                    <h1 class="lk__title">История показаний</h1>
                    <div class="history__filter_items">
                        <div class="history__filter_item input">
                            <div class="input__label">Адрес</div>
                            <select name="select" class="select" placeholder="Не выбрано">
                                <option disabled selected value="">
                                <option value="Санкт-Петербург, ул. Пушкинская, д. 56, офис 5">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</option>
                                <option value="Санкт-Петербург, ул. Пушкинская, д. 56, офис 5">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</option>
                                <option value="Санкт-Петербург, ул. Пушкинская, д. 56, офис 5">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</option>
                            </select>
                        </div>
                        <div class="history__filter_item this--mw_320 input">
                            <div class="input__label">Услуга</div>
                            <select name="select" class="select" placeholder="Не выбрано">
                                <option disabled selected value="">
                                <option value="Водоснабжение">Водоснабжение</option>
                                <option value="Водоотведение">Водоотведение</option>
                                <option value="Отопление">Отопление</option>
                            </select>
                        </div>
                    </div>
                    <div class="history__table_wr">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Дата подачи</th>
                                <th>Услуга</th>
                                <th>Название объекта</th>
                                <th>Адрес объекта</th>
                                <th>Статус</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Водоснабжение</td>
                                <td>Название объекта</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</td>
                                <td>
                                    <div class="history__table_row history__water_in this--process">
                                        <span>В обработке</span><span class="history__arrow"></span>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Водоснабжение</td>
                                <td>Название объекта длинное в две строки с дополнительной информацией</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</td>
                                <td>
                                    <div class="history__table_row history__water_in this--done">
                                    <span>Выполнено</span><span class="history__arrow"></span>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Водоотведение</td>
                                <td>Название объекта</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</td>
                                <td>
                                    <div class="history__table_row history__water_out this--done">
                                    <span>Выполнено</span><span class="history__arrow"></span>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Отопление</td>
                                <td>Название объекта</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5 дополнительная строка</td>
                                <td>
                                    <div class="history__table_row history__warm this--done">
                                    <span>Выполнено</span><span class="history__arrow"></span>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Отопление</td>
                                <td>Название объекта</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</td>
                                <td>
                                    <div class="history__table_row history__warm this--done">
                                    <span>Выполнено</span><span class="history__arrow"></span>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Отопление</td>
                                <td>Название объекта</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</td>
                                <td>
                                    <div class="history__table_row history__warm this--done">
                                    <span>Выполнено</span><span class="history__arrow"></span>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Отопление</td>
                                <td>Название объекта</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</td>
                                <td>
                                    <div class="history__table_row history__warm this--done">
                                    <span>Выполнено</span><span class="history__arrow"></span>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Отопление</td>
                                <td>Название объекта</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</td>
                                <td>
                                    <div class="history__table_row history__warm this--process">
                                    <span>В обработке</span><span class="history__arrow"></span>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Отопление</td>
                                <td>Название объекта</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</td>
                                <td>
                                    <div class="history__table_row history__warm this--process">
                                    <span>В обработке</span><span class="history__arrow"></span>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Отопление</td>
                                <td>Название объекта</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</td>
                                <td>
                                    <div class="history__table_row history__warm this--process">
                                    <span>В обработке</span><span class="history__arrow"></span>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Отопление</td>
                                <td>Название объекта</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</td>
                                <td>
                                    <div class="history__table_row history__warm this--process"><span>В обработке</span><span class="history__arrow"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Отопление</td>
                                <td>Название объекта</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</td>
                                <td>
                                    <div class="history__table_row history__warm this--process">
                                        <span>В обработке</span><span class="history__arrow"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Отопление</td>
                                <td>Название объекта</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</td>
                                <td>
                                    <div class="history__table_row history__warm this--process">
                                    <span>В обработке</span><span class="history__arrow"></span>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Отопление</td>
                                <td>Название объекта</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</td>
                                <td>
                                    <div class="history__table_row history__warm this--process">
                                    <span>В обработке</span><span class="history__arrow"></span>
                                    </div></td>
                            </tr>
                            <tr>
                                <td>12.02.2022</td>
                                <td>Отопление</td>
                                <td>Название объекта</td>
                                <td>Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</td>
                                <td>
                                    <div class="history__table_row history__warm this--process">
                                    <span>В обработке</span><span class="history__arrow"></span>
                                    </div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="history__pagination pagination">
                        <li class="pagination__item">
                            <a href="#" class="pagination__arrow pagination__prev this--disabled"></a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__link active">1</a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__link">2</a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__link">3</a>
                        </li>
                        <li class="pagination__item">
                            ...
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__link">9</a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" class="pagination__arrow pagination__next"></a>
                        </li>
                    </ul>
                    <div class="history__popup">
                        <div class="history__popup_body">
                            <span class="history__popup_cross"></span>
                            <div class="history__water_in_content history__popup_body_content">
                                <div class="history__popup_status">
                                    <div class="history__popup_status_process">В обработке</div>
                                    <div class="history__popup_status_done">Выполнено</div>
                                </div>
                                <h2 class="history__popup_title">Водоснабжение</h2>
                                <div class="history__popup_top_items">
                                    <div class="history__popup_top_item">
                                        <div class="history__popup_top_item_top">Дата подачи</div>
                                        <div class="history__popup_top_item_bottom">22.12.2021</div>
                                    </div>
                                    <div class="history__popup_top_item">
                                        <div class="history__popup_top_item_top">Название объекта</div>
                                        <div class="history__popup_top_item_bottom">БЦ «СПБ»</div>
                                    </div>
                                    <div class="history__popup_top_item">
                                        <div class="history__popup_top_item_top">Адрес</div>
                                        <div class="history__popup_top_item_bottom">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5 дополнительная строка</div>
                                    </div>
                                </div>
                                <div class="history__popup_bottom_items">
                                    <div class="history__popup_bottom_item">
                                        <div class="history__popup_bottom_item__title">Горячее</div>
                                        <div class="history__popup_bottom_item_items">
                                            <div class="history__popup_bottom_item_item">
                                                <div class="history__popup_bottom_item_item_top">Счетчик №1168576</div>
                                                <div class="history__popup_bottom_item_item_bottom">33,123</div>
                                            </div>
                                            <div class="history__popup_bottom_item_item">
                                                <div class="history__popup_bottom_item_item_top">Счетчик №5768576</div>
                                                <div class="history__popup_bottom_item_item_bottom">33,123</div>
                                            </div>
                                            <div class="history__popup_bottom_item_item">
                                                <div class="history__popup_bottom_item_item_top">Счетчик №2368576</div>
                                                <div class="history__popup_bottom_item_item_bottom">33,123</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="history__popup_bottom_item">
                                        <div class="history__popup_bottom_item__title">Холодное</div>
                                        <div class="history__popup_bottom_item_items">
                                            <div class="history__popup_bottom_item_item">
                                                <div class="history__popup_bottom_item_item_top">Счетчик №1168576</div>
                                                <div class="history__popup_bottom_item_item_bottom">33,123</div>
                                            </div>
                                            <div class="history__popup_bottom_item_item">
                                                <div class="history__popup_bottom_item_item_top">Счетчик №5768576</div>
                                                <div class="history__popup_bottom_item_item_bottom">33,123</div>
                                            </div>
                                            <div class="history__popup_bottom_item_item">
                                                <div class="history__popup_bottom_item_item_top">Счетчик №2368576</div>
                                                <div class="history__popup_bottom_item_item_bottom">33,123</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="history__water_out_content history__popup_body_content">
                                <div class="history__popup_status">
                                    <div class="history__popup_status_process">В обработке</div>
                                    <div class="history__popup_status_done">Выполнено</div>
                                </div>
                                <h2 class="history__popup_title">Водоотведение</h2>
                                <div class="history__popup_top_items">
                                    <div class="history__popup_top_item">
                                        <div class="history__popup_top_item_top">Дата подачи</div>
                                        <div class="history__popup_top_item_bottom">22.12.2021</div>
                                    </div>
                                    <div class="history__popup_top_item">
                                        <div class="history__popup_top_item_top">Название объекта</div>
                                        <div class="history__popup_top_item_bottom">БЦ «СПБ»</div>
                                    </div>
                                    <div class="history__popup_top_item">
                                        <div class="history__popup_top_item_top">Адрес</div>
                                        <div class="history__popup_top_item_bottom">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5 дополнительная строка</div>
                                    </div>
                                </div>
                                <div class="history__popup_bottom_item_item">
                                    <div class="history__popup_bottom_item_item_top">Счетчик №1168576</div>
                                    <div class="history__popup_bottom_item_item_bottom">33,123</div>
                                </div>
                                <div class="history__popup_bottom_item_item">
                                    <div class="history__popup_bottom_item_item_top">Счетчик №5768576</div>
                                    <div class="history__popup_bottom_item_item_bottom">33,123</div>
                                </div>
                                <div class="history__popup_bottom_item_item">
                                    <div class="history__popup_bottom_item_item_top">Счетчик №2368576</div>
                                    <div class="history__popup_bottom_item_item_bottom">33,123</div>
                                </div>
                            </div>
                            <div class="history__warm_content history__popup_body_content">
                                <div class="history__popup_status">
                                    <div class="history__popup_status_process">В обработке</div>
                                    <div class="history__popup_status_done">Выполнено</div>
                                </div>
                                <h2 class="history__popup_title">Отопление</h2>
                                <div class="history__popup_top_items">
                                    <div class="history__popup_top_item">
                                        <div class="history__popup_top_item_top">Дата подачи</div>
                                        <div class="history__popup_top_item_bottom">22.12.2021</div>
                                    </div>
                                    <div class="history__popup_top_item">
                                        <div class="history__popup_top_item_top">Название объекта</div>
                                        <div class="history__popup_top_item_bottom">БЦ «СПБ»</div>
                                    </div>
                                    <div class="history__popup_top_item">
                                        <div class="history__popup_top_item_top">Адрес</div>
                                        <div class="history__popup_top_item_bottom">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5 дополнительная строка</div>
                                    </div>
                                </div>
                                <div class="history__popup_bottom_item_item">
                                    <div class="history__popup_bottom_item_item_top">Счетчик №1168576</div>
                                    <div class="history__popup_bottom_item_item_bottom">33,123</div>
                                </div>
                                <div class="history__popup_bottom_item_item">
                                    <div class="history__popup_bottom_item_item_top">Счетчик №5768576</div>
                                    <div class="history__popup_bottom_item_item_bottom">33,123</div>
                                </div>
                                <div class="history__popup_bottom_item_item">
                                    <div class="history__popup_bottom_item_item_top">Счетчик №2368576</div>
                                    <div class="history__popup_bottom_item_item_bottom">33,123</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>