<section class="lk">
    <div class="container">
        <div class="lk__content">
            <span class="lk__mob_menu_btn"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15.9999" cy="10.2065" r="7.05792" stroke="#FFFFFF" stroke-width="3"/>
                        <path d="M4.96456 28.3281C5.22975 23.4434 9.89034 19.2625 16 19.2625C22.1097 19.2625 26.7703 23.4434 27.0355 28.3281H4.96456Z" stroke="#FFFFFF" stroke-width="3"/>
                    </svg></span>
            <div class="lk__menu">
                <span class="lk__menu_cross"></span>
                <div class="lk__menu_title">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15.9999" cy="10.2065" r="7.05792" stroke="#4F4F4F" stroke-width="3"/>
                        <path d="M4.96456 28.3281C5.22975 23.4434 9.89034 19.2625 16 19.2625C22.1097 19.2625 26.7703 23.4434 27.0355 28.3281H4.96456Z" stroke="#4F4F4F" stroke-width="3"/>
                    </svg>
                    Личный кабинет
                </div>
                <div class="lk__menu_line line"></div>
                <ul class="lk__menu_items">
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link active">Подача показаний</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Заявки</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">История показаний</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Документы</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Мои данные</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Мои реквизиты</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Помощь</a></li>
                </ul>
                <div class="lk__menu_line line"></div>
                <a href="#" class="lk__menu_exit">Выйти из личного кабинета</a>
            </div>
            <div class="lk__body">
                <div class="giving">
                    <h1 class="giving__title">Подача показаний</h1>
                    <div class="giving__new_buttons">
                        <button class="giving__button this--new_button">Отопление нового объекта <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1V11M1 6H11" stroke="#4F4F4F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg></button>
                        <button class="giving__button this--new_button">Водоснабжение нового объекта <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1V11M1 6H11" stroke="#4F4F4F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg></button>
                        <button class="giving__button this--new_button">Водоотведение нового объекта <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1V11M1 6H11" stroke="#4F4F4F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg></button>
                    </div>
                    <div class="giving__cards">
                        <div class="giving__card">
                            <div class="giving__card_title">Паркинг Ладожская</div>
                            <div class="giving__card_address">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</div>
                            <div class="giving__card_buttons">
                                <button class="giving__button this--card_button">Отопление</button>
                                <button class="giving__button this--card_button">Водоснабжение</button>
                                <button class="giving__button this--card_button">Водоотведение</button>
                            </div>
                        </div>
                        <div class="giving__card">
                            <div class="giving__card_title">Квартира 67</div>
                            <div class="giving__card_address">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5 длинная строка длинная улица</div>
                            <div class="giving__card_buttons">
                                <button class="giving__button this--card_button">Отопление</button>
                                <button class="giving__button this--card_button">Водоотведение</button>
                            </div>
                        </div>
                        <div class="giving__card">
                            <div class="giving__card_title">Бизнес-центр «СПБ»</div>
                            <div class="giving__card_address">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</div>
                            <div class="giving__card_buttons">
                                <button class="giving__button this--card_button">Водоотведение</button>
                            </div>
                        </div>
                        <div class="giving__card">
                            <div class="giving__card_title">Придомовая территория</div>
                            <div class="giving__card_address">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</div>
                            <div class="giving__card_buttons">
                                <button class="giving__button this--card_button">Водоотведение</button>
                            </div>
                        </div>
                        <div class="giving__card">
                            <div class="giving__card_title">Бизнес-центр «Ладога»</div>
                            <div class="giving__card_address">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</div>
                            <div class="giving__card_buttons">
                                <button class="giving__button this--card_button">Отопление</button>
                                <button class="giving__button this--card_button">Водоснабжение</button>
                                <button class="giving__button this--card_button">Водоотведение</button>
                            </div>
                        </div>
                        <div class="giving__card">
                            <div class="giving__card_title">Паркинг Московская</div>
                            <div class="giving__card_address">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5 длинная строка длинная улица</div>
                            <div class="giving__card_buttons">
                                <button class="giving__button this--card_button">Водоотведение</button>
                            </div>
                        </div>
                        <div class="giving__card">
                            <div class="giving__card_title">Загородный дом</div>
                            <div class="giving__card_address">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</div>
                            <div class="giving__card_buttons">
                                <button class="giving__button this--card_button">Водоотведение</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>