<section class="lk">
    <div class="container">
        <div class="lk__content">
            <span class="lk__mob_menu_btn"></span>
            <div class="lk__menu">
                <span class="lk__menu_cross"></span>
                <div class="lk__menu_title">
                    Личный кабинет
                </div>
                <div class="lk__menu_line line"></div>
                <ul class="lk__menu_items">
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link active">Подача показаний</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Заявки</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">История показаний</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Документы</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Мои данные</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Мои реквизиты</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Помощь</a></li>
                </ul>
                <div class="lk__menu_line line"></div>
                <a href="#" class="lk__menu_exit">Выйти из личного кабинета</a>
            </div>
            <div class="lk__body">
                <div class="giving">
                    <h1 class="lk__title">Подача показаний</h1>
                    <div class="giving__new_buttons">
                        <button class="giving__button this--new_button warm_new_open">Отопление нового объекта <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1V11M1 6H11" stroke="#4F4F4F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg></button>
                        <button class="giving__button this--new_button water_in_new_open">Водоснабжение нового объекта <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1V11M1 6H11" stroke="#4F4F4F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg></button>
                        <button class="giving__button this--new_button water_out_new_open">Водоотведение нового объекта <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1V11M1 6H11" stroke="#4F4F4F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg></button>
                    </div>
                    <div class="giving__cards">
                        <div class="giving__card">
                            <div class="giving__card_title">Паркинг Ладожская</div>
                            <div class="giving__card_address">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</div>
                            <div class="giving__card_buttons">
                                <button class="giving__button this--card_button warm_open">Отопление</button>
                                <button class="giving__button this--card_button water_in_open">Водоснабжение</button>
                                <button class="giving__button this--card_button water_out_open">Водоотведение</button>
                            </div>
                        </div>
                        <div class="giving__card">
                            <div class="giving__card_title">Квартира 67</div>
                            <div class="giving__card_address">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5 длинная строка длинная улица</div>
                            <div class="giving__card_buttons">
                                <button class="giving__button this--card_button warm_open">Отопление</button>
                                <button class="giving__button this--card_button water_out_open">Водоотведение</button>
                            </div>
                        </div>
                        <div class="giving__card">
                            <div class="giving__card_title">Бизнес-центр «СПБ»</div>
                            <div class="giving__card_address">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</div>
                            <div class="giving__card_buttons">
                                <button class="giving__button this--card_button water_out_open">Водоотведение</button>
                            </div>
                        </div>
                        <div class="giving__card">
                            <div class="giving__card_title">Придомовая территория</div>
                            <div class="giving__card_address">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</div>
                            <div class="giving__card_buttons">
                                <button class="giving__button this--card_button water_out_open">Водоотведение</button>
                            </div>
                        </div>
                        <div class="giving__card">
                            <div class="giving__card_title">Бизнес-центр «Ладога»</div>
                            <div class="giving__card_address">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</div>
                            <div class="giving__card_buttons">
                                <button class="giving__button this--card_button warm_open">Отопление</button>
                                <button class="giving__button this--card_button water_in_open">Водоснабжение</button>
                                <button class="giving__button this--card_button water_out_open">Водоотведение</button>
                            </div>
                        </div>
                        <div class="giving__card">
                            <div class="giving__card_title">Паркинг Московская</div>
                            <div class="giving__card_address">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5 длинная строка длинная улица</div>
                            <div class="giving__card_buttons">
                                <button class="giving__button this--card_button water_out_open">Водоотведение</button>
                            </div>
                        </div>
                        <div class="giving__card">
                            <div class="giving__card_title">Загородный дом</div>
                            <div class="giving__card_address">Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</div>
                            <div class="giving__card_buttons">
                                <button class="giving__button this--card_button water_out_open">Водоотведение</button>
                            </div>
                        </div>
                    </div>
                    <div class="giving__popup">
                        <div class="giving__popup_body">
                            <span class="giving__popup_cross"></span>
                            <div class="giving__popup_body_content giving__water_in">
                                <h2 class="giving__water_in_title this--red">Водоснабжение</h2>
                                <div class="giving__water_in_object"><span>Название объекта:</span> Название</div>
                                <div class="giving__water_in_address"><span>Адрес:</span> Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</div>
                                <form class="giving__water_in_form" action="#" name="water_in_form">
                                    <div class="giving__water_in_form_row">
                                        <div class="giving__water_in_item">
                                            <div class="giving__water_in_table_title">Горячее водоснабжение</div>
                                            <div class="giving__water_in_table_wr">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Заводской номер</th>
                                                        <th>Текущие показания</th>
                                                        <th>Новое показание</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1168576</td>
                                                        <td>
                                                            <div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="input__input only-number" placeholder="__,___">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5768576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2368576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="giving__water_in_item">
                                            <div class="giving__water_in_table_title">Холодное водоснабжение</div>
                                            <div class="giving__water_in_table_wr">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Заводской номер</th>
                                                        <th>Текущие показания</th>
                                                        <th>Новое показание</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1168576</td>
                                                        <td>
                                                            <div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="input__input only-number" placeholder="__,___">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5768576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2368576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="giving__water_in_form_submit btn this--disabled" value="Отправить">
                                </form>
                            </div>
                            <div class="giving__popup_body_content giving__water_in_new">
                                <h2 class="giving__water_in_title this--red">Водоснабжение</h2>
                                <form class="giving__water_in_new_form" action="#" name="water_in_new_form">
                                    <div class="giving__water_in_new_form_row">
                                        <div class="giving__water_in_new_form_input input this--textarea">
                                            <div class="input__label">Название объекта</div>
                                            <textarea class="input__input" name="input" placeholder="Название"></textarea>
                                        </div>
                                        <div class="giving__water_in_new_form_input input this--textarea">
                                            <div class="input__label">Адрес объекта*</div>
                                            <textarea class="input__input" name="input" placeholder="Адрес"></textarea>
                                        </div>
                                    </div>
                                    <div class="giving__water_in_form_row">
                                        <div class="giving__water_in_item">
                                            <div class="giving__water_in_table_title">Горячее водоснабжение</div>
                                            <div class="giving__water_in_table_wr">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Заводской номер</th>
                                                        <th>Текущие показания</th>
                                                        <th>Новое показание</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1168576</td>
                                                        <td>
                                                            <div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="input__input only-number" placeholder="__,___">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5768576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2368576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="giving__water_in_item">
                                            <div class="giving__water_in_table_title">Холодное водоснабжение</div>
                                            <div class="giving__water_in_table_wr">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Заводской номер</th>
                                                        <th>Текущие показания</th>
                                                        <th>Новое показание</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1168576</td>
                                                        <td>
                                                            <div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="input__input only-number" placeholder="__,___">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5768576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2368576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="giving__water_in_form_submit btn this--disabled" value="Отправить">
                                </form>
                            </div>
                            <div class="giving__popup_body_content giving__water_out">
                                <h2 class="giving__water_in_title this--red">Водоотведение</h2>
                                <div class="giving__water_in_object"><span>Название объекта:</span> Название</div>
                                <div class="giving__water_in_address"><span>Адрес:</span> Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</div>
                                <form class="giving__water_out_form" action="#" name="water_out_form">
                                    <div class="giving__water_in_form_row">
                                        <div class="giving__water_in_item this--full">
                                            <div class="giving__water_in_table_wr">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Заводской номер</th>
                                                        <th>Текущие показания</th>
                                                        <th>Новое показание</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1168576</td>
                                                        <td>
                                                            <div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="input__input only-number" placeholder="__,___">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5768576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2368576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="giving__water_in_form_submit btn this--disabled" value="Отправить">
                                </form>
                            </div>
                            <div class="giving__popup_body_content giving__water_out_new">
                                <h2 class="giving__water_in_title this--red">Водоотведение</h2>
                                <form class="giving__water_out_new_form" action="#" name="water_out_new_form">
                                    <div class="giving__water_out_new_form_inputs">
                                        <div class="giving__water_out_new_form_input input this--textarea">
                                            <div class="input__label">Название объекта</div>
                                            <textarea class="input__input" name="input" placeholder="Название"></textarea>
                                        </div>
                                        <div class="giving__water_out_new_form_input input this--textarea">
                                            <div class="input__label">Адрес объекта*</div>
                                            <textarea class="input__input" name="input" placeholder="Адрес"></textarea>
                                        </div>
                                    </div>
                                    <div class="giving__water_in_form_row">
                                        <div class="giving__water_in_item this--full">
                                            <div class="giving__water_in_table_wr">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Заводской номер</th>
                                                        <th>Текущие показания</th>
                                                        <th>Новое показание</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1168576</td>
                                                        <td>
                                                            <div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="input__input only-number" placeholder="__,___">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5768576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2368576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="giving__water_in_form_submit btn this--disabled" value="Отправить">
                                </form>
                            </div>
                            <div class="giving__popup_body_content giving__warm">
                                <h2 class="giving__water_in_title this--red">Отопление</h2>
                                <div class="giving__water_in_object"><span>Название объекта:</span> Название</div>
                                <div class="giving__water_in_address"><span>Адрес:</span> Санкт-Петербург, ул. Пушкинская, д. 56, офис 5</div>
                                <form class="giving__warm_form" action="#" name="warm_form">
                                    <div class="giving__water_in_form_row">
                                        <div class="giving__water_in_item this--full">
                                            <div class="giving__water_in_table_wr">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Заводской номер</th>
                                                        <th>Текущие показания</th>
                                                        <th>Новое показание</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1168576</td>
                                                        <td>
                                                            <div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="input__input only-number" placeholder="__,___">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5768576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2368576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="giving__water_in_form_submit btn this--disabled" value="Отправить">
                                </form>
                            </div>
                            <div class="giving__popup_body_content giving__warm_new">
                                <h2 class="giving__water_in_title this--red">Отопление</h2>
                                <form class="giving__warm_new_form" action="#" name="warm_new_form">
                                    <div class="giving__water_out_new_form_inputs">
                                        <div class="giving__water_out_new_form_input input this--textarea">
                                            <div class="input__label">Название объекта</div>
                                            <textarea class="input__input" name="input" placeholder="Название"></textarea>
                                        </div>
                                        <div class="giving__water_out_new_form_input input this--textarea">
                                            <div class="input__label">Адрес объекта*</div>
                                            <textarea class="input__input" name="input" placeholder="Адрес"></textarea>
                                        </div>
                                    </div>
                                    <div class="giving__water_in_form_row">
                                        <div class="giving__water_in_item this--full">
                                            <div class="giving__water_in_table_wr">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Заводской номер</th>
                                                        <th>Текущие показания</th>
                                                        <th>Новое показание</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1168576</td>
                                                        <td>
                                                            <div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="input__input only-number" placeholder="__,___">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5768576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2368576</td>
                                                        <td><div class="giving__water_in_table_item_top">23,123</div>
                                                            <div class="giving__water_in_table_item_bottom">от 21.12.2021</div></td>
                                                        <td><input type="text" class="input__input only-number" placeholder="__,___"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="giving__water_in_form_submit btn this--disabled" value="Отправить">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>