h1.lk__title {
  text-align: left;
}
.giving__new_buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: 30px;
}
.giving__button {
  margin-left: 10px;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.8rem;
  line-height: 1.67;
  transition: 0.3s;

  @media ($tablet3) {
    font-size: 1.4rem;
    line-height: 1.79;
  }

  &:hover {
    @media ($tabletMax) {
      background: #929DB6;
      color: #FFFFFF;
      border: 1px solid #929DB6;
      svg {
        path {
          stroke: #FFFFFF;
        }
      }
    }
  }

  &.this--new_button {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    color: #4F4F4F;

    @media ($mobileMiddle) {
      width: 100%;
      justify-content: space-between;
    }
    svg {
      margin-left: 10px;
      path {
        transition: 0.3s;
      }
    }
  }
  &.this--card_button {
    padding: 10px 15px;
  }
}
.giving__cards {
  margin-top: 30px;
  margin-left: -20px;
  margin-bottom: -20px;
  display: flex;
  flex-wrap: wrap;
  @media ($tablet3) {
    margin-top: 20px;
    margin-left: -10px;
    margin-bottom: -10px;
  }
  @media ($mobile) {
    width: 100%;
    margin-left: 0;
  }
}
.giving__card {
  width: calc(33.333% - 20px);
  margin-left: 20px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  padding: 20px;

  @media ($desktopBig) {
    width: calc(50% - 20px);
  }
  @media ($tablet3) {
    width: calc(50% - 10px);
    margin-left: 10px;
    margin-bottom: 10px;
  }
  @media ($mobile) {
    width: 100%;
    margin-left: 0;
  }
}
.giving__card_title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  color: #000000;
}
.giving__card_address {
  color: #4F4F4F;
  font-size: 1.8rem;
  line-height: 1.67;
}
.giving__card_buttons {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-bottom: -10px;
}


.giving__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  z-index: 110;

  &.open {
    transition: 0.3s;
    visibility: visible;
    opacity: 1;
  }
}
.giving__popup_body {
  max-width: 1200px;
  min-height: 721px;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 60px 70px;
  position: relative;
  overflow-y: auto;
  max-height: 100vh;

  @media ($desktopBig) {
    min-height: 600px;
    max-width: 900px;
    padding: 60px 40px;
  }
  @media ($tablet) {
    max-width: 650px;
    padding: 40px 15px 30px;
  }
  @media ($tablet3) {
    max-width: 440px;
  }
  @media ($mobileMiddle) {
    max-width: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
.giving__popup_cross {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    background: #929DB6;
    top: 23px;
    left: 12px;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
.giving__popup_body_content {
  display: none;

  &.active {
    display: block;
  }
}
.giving__water_in_object,
.giving__water_in_address {
  margin-top: 15px;
  font-size: 2rem;
  line-height: 1.5;

  @media ($tablet3) {
    font-size: 1.8rem;
    margin-top: 5px;
  }

  span {
    font-weight: 700;
  }
}
.giving__water_in_form {
  margin-top: 20px;
}
.giving__water_in_form_row {
  display: flex;
  margin-left: -36px;
  @media ($tablet) {
    display: block;
    margin-left: 0;
  }
}
.giving__water_in_item {
  margin-left: 36px;
  width: calc(50% - 36px);
  @media ($tablet) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  &.this--full {
    width: 100%;
    @media ($tablet) {
      margin-bottom: 0;
    }
  }
}
.giving__water_in_table_title {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  @media ($tablet3) {
    font-size: 1.8rem;
  }
}
.giving__water_in_table_wr {
  margin-top: 15px;
  @media ($tablet3) {
    margin-top: 5px;
  }
  .table {
    text-align: center;
    @media ($tablet) {
      width: auto;
    }
    .input__input {
      text-align: center;
    }
    th:nth-child(1) {
      width: 36%;
    }
    th:nth-child(2) {
      width: 32%;
    }
    th:nth-child(3) {
      width: 32%;
    }
    tr {
      vertical-align: middle;
    }
    th,
    td {
      padding: 10px 20px;
      @media ($mobile2) {
        padding: 10px;
      }
    }
    th {
      font-size: 1.6rem;
      line-height: 1.5;
    }
  }
}
.giving__water_in_table_item_bottom {
  color: #929DB6;
}
.giving__water_in_form_submit {
  margin: 30px auto 0;
  @media ($tablet) {
    margin: 20px auto 0;
  }
}



.giving__water_in_new_form {
  margin-top: 15px;
}
.giving__water_in_new_form_row {
  display: flex;
  margin-left: -36px;
  margin-bottom: 30px;

  @media ($tablet) {
    display: block;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
.giving__water_in_new_form_input {
  margin-left: 36px;
  width: calc(50% - 36px);
  @media ($tablet) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
  }
}



.giving__water_out_new_form_inputs {
  margin-top: 15px;
}
.giving__water_out_new_form_input {
  margin-bottom: 30px;
  @media ($tablet) {
    margin-bottom: 15px;
  }
}