<section class="services_card_form investors_form">
    <div class="container">
        <div class="investors_form__content">
            <div class="investors_form__row">
                <div class="investors_form__left">
                    <div class="investors_form__img">
                        <img src="./img/investors/investors_form/1.png" alt="">
                    </div>
                </div>
                <div class="investors_form__right">
                    <h2 class="investors_form__title this--red">Получите<br>бесплатную консультацию</h2>
                    <form action="#" class="services_card_form__form" name="investors_form">
                        <div class="investors_form__top">
                            <div class="investors_form__input_wr input">
                                <div class="input__label">Ваше имя*</div>
                                <input type="text" class="input__input only-rus req_input" name="name" placeholder="Введите ваше имя">
                                <div class="input__error">Введите корректное значение</div>
                            </div>
                            <div class="investors_form__input_wr input">
                                <div class="input__label">Ваш телефон*</div>
                                <input type="text" class="input__input phone-mask req_input" name="tel" value="+_(___)___-__-__">
                                <div class="input__error">Введите корректное значение</div>
                            </div>
                            <div class="investors_form__input_wr input">
                                <div class="input__label">Ваш E-mail</div>
                                <input type="text" class="input__input only-eng req_input" name="email" placeholder="example@mail.ru">
                                <div class="input__error">Введите корректное значение</div>
                            </div>
                        </div>
                        <div class="investors_form__bottom">
                            <input type="submit" value="Получить консультацию" class="services_card_form__submit btn">
                            <div class="investors_form__agreement">Нажимая кнопку «Получить консультацию», вы соглашаетесь с Правилами сайта и Политикой конфиденциальности</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>