<section class="services_card_top investors_top">
    <div class="services_card_top__content">
        <div class="services_card_top__top">
            <div class="services_card_top__breadcrumbs breadcrumbs">
                <div class="breadcrumbs_wr">
                    <a href="/" class="breadcrumb this--link">Главная <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="#26160C" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    </a>
                    <a href="#" class="breadcrumb this--link">Услуги <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="#26160C" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    </a>
                    <div class="breadcrumb">Проектирование объектов теплоэнергетики</div>
                </div>
            </div>
            <div class="container">
                <h1 class="services_card_top__title">Проектирование<br>объектов теплоэнергетики</h1>
                <div class="services_card_top__subtitle">
                    Текст в две-три строки, поясняющий подробности услуги
                </div>
                <button class="services_card_top__btn btn callback_open">Оставить заявку<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1.5L7 7L1 12.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></button>
            </div>
        </div>
        <div class="services_card_top__bottom">
            <div class="container">
                <div class="investors_top__counts this--services_card">
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">1</div>
                        <div class="investors_top__count_bottom">Преимущество</div>
                    </div>
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">2</div>
                        <div class="investors_top__count_bottom">Преимущество</div>
                    </div>
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">3</div>
                        <div class="investors_top__count_bottom">Преимущество</div>
                    </div>
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">4</div>
                        <div class="investors_top__count_bottom">Преимущество в три<br> строки с дополнительной информацией</div>
                    </div>
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">5</div>
                        <div class="investors_top__count_bottom">Преимущество</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="callback_popup">
        <div class="callback_popup__body">
            <div class="callback_popup__cross"></div>
            <div class="callback_popup__img_wr">
                <div class="callback_popup__img">
                    <img src="./img/main/main_top/callback_img.png" alt="">
                </div>
            </div>
            <div class="callback_popup__content callback active" data-name="callback">
                <h2 class="callback__title">Обратная связь</h2>
                <form class="callback__form" action="#" name="callback_form">
                    <div class="callback__form_row">
                        <div class="callback__form_input_wr input">
                            <div class="input__label">Ваше имя*</div>
                            <input type="text" class="input__input only-rus req_input" name="name" placeholder="Введите ваше имя">
                            <div class="input__error">Введите корректное значение</div>
                        </div>
                        <div class="callback__form_input_wr input">
                            <div class="input__label">Ваш телефон*</div>
                            <input type="text" class="input__input phone-mask req_input" name="tel" value="+_(___)___-__-__">
                            <div class="input__error">Введите корректное значение</div>
                        </div>
                        <div class="callback__form_input_wr input">
                            <div class="input__label">Название организации</div>
                            <input type="text" class="input__input" name="organization" placeholder="Введите название">
                        </div>
                        <div class="callback__form_input_wr input">
                            <div class="input__label">Адрес объекта</div>
                            <input type="text" class="input__input" name="address" placeholder="Введите адрес">
                        </div>
                        <div class="callback__form_input_wr input this--textarea">
                            <div class="input__label">Комментарий</div>
                            <textarea class="input__input" name="comment" placeholder="Напишите, что нам надо знать"></textarea>
                        </div>
                    </div>
                    <div class="callback__form_bottom">
                        <input type="submit" class="callback__form_submit btn" value="Получить консультацию">
                        <div class="callback__form_agreement">Нажимая кнопку «Получить консультацию», вы соглашаетесь с Правилами сайта и Политикой конфиденциальности</div>
                    </div>
                </form>
            </div>
            <div class="callback_popup__content callback_send" data-name="callback_send">
                <h2 class="callback_send__title">Спасибо за обращение!<br> Наш менеджер свяжется с Вами в ближайшее время</h2>
                <button class="callback_send__btn btn">ОК</button>
            </div>
        </div>
    </div>
</section>