<section class="partners section">
    <div class="container">
        <div class="partners__content">
            <h2 class="partners__title this--red">Наши партнеры</h2>
            <div class="partners__line line"></div>
            <div class="partners__slider_box">
                <div class="partners__slider_btn_prev default_slider__btn_prev"></div>
                <div class="partners__slider_btn_next default_slider__btn_next"></div>
                <div class="partners__slider_pagination default_slider__pagination"></div>
                <div class="partners__slider default_slider swiper-container">
                    <div class="partners__slider_wrapper swiper-wrapper">
                        <div class="partners__slider_slide swiper-slide">
                            <a href="#">
                            <div class="partners__slider_img">
                                <img src="./img/services_card/partners/1.jpg" alt="">
                            </div>
                            </a>
                        </div>
                        <div class="partners__slider_slide swiper-slide">
                            <a href="#">
                            <div class="partners__slider_img">
                                <img src="./img/services_card/partners/2.jpg" alt="">
                            </div>
                            </a>
                        </div>
                        <div class="partners__slider_slide swiper-slide">
                            <a href="#">
                            <div class="partners__slider_img">
                                <img src="./img/services_card/partners/3.jpg" alt="">
                            </div>
                            </a>
                        </div>
                        <div class="partners__slider_slide swiper-slide">
                            <a href="#">
                            <div class="partners__slider_img">
                                <img src="./img/services_card/partners/4.jpg" alt="">
                            </div>
                            </a>
                        </div>
                        <div class="partners__slider_slide swiper-slide">
                            <a href="#">
                            <div class="partners__slider_img">
                                <img src="./img/services_card/partners/5.jpg" alt="">
                            </div>
                            </a>
                        </div>
                        <div class="partners__slider_slide swiper-slide">
                            <a href="#">
                            <div class="partners__slider_img">
                                <img src="./img/services_card/partners/6.jpg" alt="">
                            </div>
                            </a>
                        </div>
                        <div class="partners__slider_slide swiper-slide">
                            <a href="#">
                            <div class="partners__slider_img">
                                <img src="./img/services_card/partners/1.jpg" alt="">
                            </div>
                            </a>
                        </div>
                        <div class="partners__slider_slide swiper-slide">
                            <a href="#">
                            <div class="partners__slider_img">
                                <img src="./img/services_card/partners/2.jpg" alt="">
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>