<section class="press">
    <div class="container">
        <div class="press__content">
            <div class="press__breadcrumbs breadcrumbs">
                <div class="breadcrumbs_wr">
                    <a href="/" class="breadcrumb this--link">Главная <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L1 9" stroke="#26160C" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    </a>
                    <div class="breadcrumb">Пресс-центр</div>
                </div>
            </div>
            <h1 class="press__title">Пресс-центр</h1>
            <div class="press__filter filter">
                <a href="#" class="filter_item active">Все рубрики</a>
                <a href="#" class="filter_item">Инвестору</a>
                <a href="#" class="filter_item">Новости</a>
                <a href="#" class="filter_item">СМИ о компании</a>
                <a href="#" class="filter_item">Оперативная информация</a>
                <a href="#" class="filter_item">Фото для СМИ</a>
            </div>
            <div class="press__news">
                <a href="#" class="main_press__news_item this--overbig">
                    <div class="main_press__news_item_top">
                        <div class="main_press__news_item_img">
                            <img src="./img/main/main_press/news_img.jpg" alt="">
                        </div>
                    </div>
                    <div class="main_press__news_item_bottom">
                        <div class="main_press__news_item_row">
                            <div class="main_press__news_item_date">
                                16 мая 2022
                            </div>
                            <div class="main_press__news_item_arrow this--mob"></div>
                        </div>
                        <div class="main_press__news_item_title">
                            Название новости в две строки с дополнительной информацией
                        </div>
                        <div class="main_press__news_item_text">
                            Начало текста, который содержится в новости который содержится в новости который содержится в новости Начало текста, который содержится в новости который содержится в новости который содержится в новости в новости который содержится в новости
                        </div>
                        <div class="main_press__news_item_arrow this--desktop"></div>
                    </div>
                </a>
                <a href="#" class="main_press__news_item this--big">
                    <div class="main_press__news_item_img">
                        <img src="./img/main/main_press/news_img.jpg" alt="">
                    </div>
                    <div class="main_press__news_item_row">
                        <div class="main_press__news_item_date">
                            16 мая 2022
                        </div>
                        <div class="main_press__news_item_arrow"></div>
                    </div>
                    <div class="main_press__news_item_title">
                        Название новости в две строки с дополнительной информацией
                    </div>
                    <div class="main_press__news_item_text">
                        Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                    </div>
                </a>
                <a href="#" class="main_press__news_item this--big">
                    <div class="main_press__news_item_img">
                        <img src="./img/main/main_press/news_img.jpg" alt="">
                    </div>
                    <div class="main_press__news_item_row">
                        <div class="main_press__news_item_date">
                            16 мая 2022
                        </div>
                        <div class="main_press__news_item_arrow"></div>
                    </div>
                    <div class="main_press__news_item_title">
                        Название новости в две строки с дополнительной информацией
                    </div>
                    <div class="main_press__news_item_text">
                        Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                    </div>
                </a>
                <a href="#" class="main_press__news_item this--big">
                    <div class="main_press__news_item_img">
                        <img src="./img/main/main_press/news_img.jpg" alt="">
                    </div>
                    <div class="main_press__news_item_row">
                        <div class="main_press__news_item_date">
                            16 мая 2022
                        </div>
                        <div class="main_press__news_item_arrow"></div>
                    </div>
                    <div class="main_press__news_item_title">
                        Название новости в две строки с дополнительной информацией
                    </div>
                    <div class="main_press__news_item_text">
                        Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                    </div>
                </a>
                <a href="#" class="main_press__news_item this--big">
                    <div class="main_press__news_item_img">
                        <img src="./img/main/main_press/news_img.jpg" alt="">
                    </div>
                    <div class="main_press__news_item_row">
                        <div class="main_press__news_item_date">
                            16 мая 2022
                        </div>
                        <div class="main_press__news_item_arrow"></div>
                    </div>
                    <div class="main_press__news_item_title">
                        Название новости в две строки с дополнительной информацией
                    </div>
                    <div class="main_press__news_item_text">
                        Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                    </div>
                </a>
                <a href="#" class="main_press__news_item this--big">
                    <div class="main_press__news_item_img">
                        <img src="./img/main/main_press/news_img.jpg" alt="">
                    </div>
                    <div class="main_press__news_item_row">
                        <div class="main_press__news_item_date">
                            16 мая 2022
                        </div>
                        <div class="main_press__news_item_arrow"></div>
                    </div>
                    <div class="main_press__news_item_title">
                        Название новости в две строки с дополнительной информацией
                    </div>
                    <div class="main_press__news_item_text">
                        Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                    </div>
                </a>
                <a href="#" class="main_press__news_item this--big">
                    <div class="main_press__news_item_img">
                        <img src="./img/main/main_press/news_img.jpg" alt="">
                    </div>
                    <div class="main_press__news_item_row">
                        <div class="main_press__news_item_date">
                            16 мая 2022
                        </div>
                        <div class="main_press__news_item_arrow"></div>
                    </div>
                    <div class="main_press__news_item_title">
                        Название новости в две строки с дополнительной информацией
                    </div>
                    <div class="main_press__news_item_text">
                        Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                    </div>
                </a>
            </div>
            <ul class="press__pagination pagination">
                <li class="pagination__item">
                    <a href="#" class="pagination__arrow pagination__prev this--disabled"></a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link active">1</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">2</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">3</a>
                </li>
                <li class="pagination__item">
                    ...
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">9</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__arrow pagination__next"></a>
                </li>
            </ul>
        </div>
    </div>
</section>