.btn {
  background: #F95D1E;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  height: 70px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  color: #F8F8F8;
  padding: 0 40px;
  white-space: nowrap;

  @media ($tablet3) {
    height: 60px;
    padding: 0 20px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.56;
  }

  &:hover {
    @media ($tabletMax) {
      background: #FC6A2F;
    }
  }
  &:active {
    background: #FB5613;
  }
}