.document {
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  transition: 0.3s;

  @media ($tablet3) {
    min-height: 120px;
    padding: 20px 20px 15px;
  }

  &:hover {
    @media ($tabletMax) {
      background: #FC6A2F;
      .document__name,
      .document__weight {
        color: #F8F8F8;
      }
      .document__icon {
        svg {
          path {
            fill: #F8F8F8;
          }
        }
      }
    }
  }

  &.this--flat {
    flex-direction: row;
    min-height: 0;
    align-items: center;
    padding: 15px;
    .document__row {
      flex-direction: row-reverse;
      align-items: center;
      &:last-child {
        margin-top: 0;
        margin-left: 20px;
      }
    }
    .document__img {
      margin-left: 0;
      margin-right: 18px;
    }
    .document__weight {
      margin-right: 18px;
    }
  }
}
.document__row {
  display: flex;
  justify-content: space-between;

  &:last-child {
    align-items: center;
    margin-top: 15px;
    @media ($tablet3) {
      margin-top: 4px;
    }
  }
}
.document__name {
  font-size: 1.8rem;
  line-height: 1.67;
  color: #202020;
  transition: 0.3s;
  @media ($tablet3) {
    font-size: 1.4rem;
    line-height: 1.79;
  }
}
.document__img {
  width: 36px;
  height: 36px;
  flex: 0 0 auto;
  margin-left: 20px;

  &.this--pdf {
    background: url('../img/icons/pdf.png') center/contain no-repeat;
  }
  &.this--jpg {
    background: url('../img/icons/jpg.png') center/contain no-repeat;
  }
  &.this--word {
    background: url('../img/icons/word.png') center/contain no-repeat;
  }
}
.document__icon {
  width: 23px;
  height: 23px;
  flex: 0 0 auto;

  svg {
    width: 100%;
    height: 100%;

    path {
      transition: 0.3s;
    }
  }
}
.document__weight {
  font-size: 1.8rem;
  line-height: 1.67;
  color: #B6B6B6;
  font-variant-numeric: lining-nums;
  transition: 0.3s;
  white-space: nowrap;
  @media ($tablet3) {
    font-size: 1.4rem;
    line-height: 1.79;
  }
}