.filter {
  display: flex;
  margin-left: -10px;
  margin-bottom: -10px;
  flex-wrap: wrap;

  @media ($tablet3) {
    margin-left: -5px;
    margin-bottom: -5px;
  }
}
.filter_item {
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 100px;
  padding: 7px 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #4F4F4F;
  font-size: 1.8rem;
  line-height: 1.67;
  transition: 0.3s;

  @media ($tablet3) {
    font-size: 1.4rem;
    line-height: 1.79;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  &:hover {
    @media ($tabletMax) {
      background: #929DB6;
      border: 1px solid #929DB6;
      color: #FFFFFF;
    }
  }

  &.active {
    color: #F8F8F8;
    background: #D03200;
    border: 1px solid #D03200;
    pointer-events: none;
  }
}