.table {
  width: 100%;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  display: block;
  text-align: left;
  border-collapse: collapse;
  overflow: hidden;
  @media ($tablet) {
    width: 993px;
  }

  th {
    color: #4F4F4F;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    padding: 20px;
    @media ($desktopBig) {
      font-size: 1.6rem;
      line-height: 1.5;
    }
    @media ($desktop) {
      font-size: 1.3rem;
      line-height: 1.54;
    }
    @media ($tablet) {
      padding: 10px 0 15px 20px;
    }
  }
  th:nth-child(1) {
    width: 15.8%;
  }
  th:nth-child(2) {
    width: 40.8%;
  }
  th:nth-child(3) {
    width: 21%;
  }
  th:nth-child(4) {
    width: 22.4%;
    @media ($tablet) {
      padding: 10px 20px 15px 20px;
    }
  }
  thead {
    tr {
      background: #F8F8F8;
    }
  }
  tbody {
    tr:nth-child(odd) {
      background: #FFFFFF;
    }
    tr:nth-child(even) {
      background: #F8F8F8;
    }
  }
  tr {
    vertical-align: top;
  }
  td {
    padding: 30px 20px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    @media ($desktopBig) {
      font-size: 1.6rem;
      line-height: 1.5;
    }
    @media ($desktop) {
      font-size: 1.3rem;
      line-height: 1.54;
    }
    @media ($tablet) {
      padding: 10px 0 10px 20px;
    }
  }
  td:nth-child(4) {
    @media ($tablet) {
      padding: 10px 20px;
    }
  }
}