<section class="main_press section this--top">
    <div class="container">
        <div class="main_press__content">
            <h2 class="main_press__title this--red">Пресс-центр</h2>
            <div class="main_press__line line"></div>
            <div class="main_press__items">
                <ul class="main_press__links">
                    <li class="main_press__link_wr">
                        <a href="#" class="main_press__link this--fire">
                            Инвестору
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L7 7L1 13" stroke="#26160C" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                    <li class="main_press__link_wr">
                        <a href="#" class="main_press__link">
                            Новости
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L7 7L1 13" stroke="#26160C" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                    <li class="main_press__link_wr">
                        <a href="#" class="main_press__link">
                            СМИ о компании
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L7 7L1 13" stroke="#26160C" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                    <li class="main_press__link_wr">
                        <a href="#" class="main_press__link">
                            Оперативная информация
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L7 7L1 13" stroke="#26160C" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                    <li class="main_press__link_wr">
                        <a href="#" class="main_press__link">
                            Фото для СМИ
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L7 7L1 13" stroke="#26160C" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="main_press__news_big">
                    <a href="#" class="main_press__news_item this--big">
                        <div class="main_press__news_item_img">
                            <img src="./img/main/main_press/news_img.jpg" alt="">
                        </div>
                        <div class="main_press__news_item_row">
                            <div class="main_press__news_item_date">
                                16 мая 2022
                            </div>
                            <div class="main_press__news_item_arrow"></div>
                        </div>
                        <div class="main_press__news_item_title">
                            Название новости в две строки с дополнительной информацией
                        </div>
                        <div class="main_press__news_item_text">
                            Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                        </div>
                    </a>
                    <a href="#" class="main_press__news_item this--big">
                        <div class="main_press__news_item_img">
                            <img src="./img/main/main_press/news_img.jpg" alt="">
                        </div>
                        <div class="main_press__news_item_row">
                            <div class="main_press__news_item_date">
                                16 мая 2022
                            </div>
                            <div class="main_press__news_item_arrow"></div>
                        </div>
                        <div class="main_press__news_item_title">
                            Название новости в две строки с дополнительной информацией
                        </div>
                        <div class="main_press__news_item_text">
                            Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                        </div>
                    </a>
                </div>
                <div class="main_press__news_small">
                    <a href="#" class="main_press__news_item this--small">
                        <div class="main_press__news_item_row">
                            <div class="main_press__news_item_date">
                                16 мая 2022
                            </div>
                            <div class="main_press__news_item_arrow"></div>
                        </div>
                        <div class="main_press__news_item_title">
                            Название новости в две строки с дополнительной информацией
                        </div>
                        <div class="main_press__news_item_text">
                            Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                        </div>
                    </a>
                    <a href="#" class="main_press__news_item this--small">
                        <div class="main_press__news_item_row">
                            <div class="main_press__news_item_date">
                                16 мая 2022
                            </div>
                            <div class="main_press__news_item_arrow"></div>
                        </div>
                        <div class="main_press__news_item_title">
                            Название новости в две строки с дополнительной информацией
                        </div>
                        <div class="main_press__news_item_text">
                            Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                        </div>
                    </a>
                    <a href="#" class="main_press__news_item this--small">
                        <div class="main_press__news_item_row">
                            <div class="main_press__news_item_date">
                                16 мая 2022
                            </div>
                            <div class="main_press__news_item_arrow"></div>
                        </div>
                        <div class="main_press__news_item_title">
                            Название новости в две строки с дополнительной информацией
                        </div>
                        <div class="main_press__news_item_text">
                            Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                        </div>
                    </a>
                    <a href="#" class="main_press__news_item this--small">
                        <div class="main_press__news_item_row">
                            <div class="main_press__news_item_date">
                                16 мая 2022
                            </div>
                            <div class="main_press__news_item_arrow"></div>
                        </div>
                        <div class="main_press__news_item_title">
                            Название новости в две строки с дополнительной информацией
                        </div>
                        <div class="main_press__news_item_text">
                            Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>