<section class="main_press section this--top">
    <div class="container">
        <div class="main_press__content">
            <h2 class="main_press__title this--red">Пресс-центр</h2>
            <div class="main_press__line line"></div>
            <div class="main_press__items">
                <ul class="main_press__links">
                    <li class="main_press__link_wr">
                        <a href="#" class="main_press__link">
                            Инвестору
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L7 7L1 13" stroke="#26160C" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <span class="main_press__link_fire">
                           <svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.6899 16.2003C23.4898 20.0669 22.4233 27.7334 14.1567 30C18.4898 26.4001 17.6901 23.0668 15.9567 20.4669C15.6678 21.7335 14.5824 23.064 12.7433 23.8855C16.0766 18.0856 13.2235 13.4003 11.2902 11.1337C12.1568 20.4669 1.42362 20.0002 6.89017 29.2001C-2.9097 24.4002 -0.109789 14.4003 2.35684 10.6003C2.62352 11.6003 3.4902 13.7603 4.82352 14.4003C5.73017 2.77377 12.6234 -0.0439411 15.9567 0.000515129C12.2234 3.93379 19.09 9.06702 18.4233 15.067C19.0006 13.6954 19.9966 10.5603 23.3566 9.60035C22.6899 10.0003 21.8899 12.3336 22.6899 16.2003Z"
                                      fill="url(#paint0_linear_179_11706)"/>
                                <defs>
                                <linearGradient id="paint0_linear_179_11706" x1="0" y1="0" x2="41.7785" y2="8.85826" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#F92F03"/>
                                <stop offset="1" stop-color="#F99941"/>
                                </linearGradient>
                                </defs>
                            </svg>
                        </span>
                    </li>
                    <li class="main_press__link_wr">
                        <a href="#" class="main_press__link">
                            Новости
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L7 7L1 13" stroke="#26160C" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                    <li class="main_press__link_wr">
                        <a href="#" class="main_press__link">
                            СМИ о компании
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L7 7L1 13" stroke="#26160C" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                    <li class="main_press__link_wr">
                        <a href="#" class="main_press__link">
                            Оперативная информация
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L7 7L1 13" stroke="#26160C" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                    <li class="main_press__link_wr">
                        <a href="#" class="main_press__link">
                            Фото для СМИ
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L7 7L1 13" stroke="#26160C" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="main_press__news_big">
                    <a href="#" class="main_press__news_item this--big">
                        <div class="main_press__news_item_img">
                            <img src="./img/main/main_press/news_img.jpg" alt="">
                        </div>
                        <div class="main_press__news_item_row">
                            <div class="main_press__news_item_date">
                                16 мая 2022
                            </div>
                            <div class="main_press__news_item_arrow"></div>
                        </div>
                        <div class="main_press__news_item_title">
                            Название новости в две строки с дополнительной информацией
                        </div>
                        <div class="main_press__news_item_text">
                            Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                        </div>
                    </a>
                    <a href="#" class="main_press__news_item this--big">
                        <div class="main_press__news_item_img">
                            <img src="./img/main/main_press/news_img.jpg" alt="">
                        </div>
                        <div class="main_press__news_item_row">
                            <div class="main_press__news_item_date">
                                16 мая 2022
                            </div>
                            <div class="main_press__news_item_arrow"></div>
                        </div>
                        <div class="main_press__news_item_title">
                            Название новости в две строки с дополнительной информацией
                        </div>
                        <div class="main_press__news_item_text">
                            Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                        </div>
                    </a>
                </div>
                <div class="main_press__news_small">
                    <a href="#" class="main_press__news_item this--small">
                        <div class="main_press__news_item_row">
                            <div class="main_press__news_item_date">
                                16 мая 2022
                            </div>
                            <div class="main_press__news_item_arrow"></div>
                        </div>
                        <div class="main_press__news_item_title">
                            Название новости в две строки с дополнительной информацией
                        </div>
                        <div class="main_press__news_item_text">
                            Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                        </div>
                    </a>
                    <a href="#" class="main_press__news_item this--small">
                        <div class="main_press__news_item_row">
                            <div class="main_press__news_item_date">
                                16 мая 2022
                            </div>
                            <div class="main_press__news_item_arrow"></div>
                        </div>
                        <div class="main_press__news_item_title">
                            Название новости в две строки с дополнительной информацией
                        </div>
                        <div class="main_press__news_item_text">
                            Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                        </div>
                    </a>
                    <a href="#" class="main_press__news_item this--small">
                        <div class="main_press__news_item_row">
                            <div class="main_press__news_item_date">
                                16 мая 2022
                            </div>
                            <div class="main_press__news_item_arrow"></div>
                        </div>
                        <div class="main_press__news_item_title">
                            Название новости в две строки с дополнительной информацией
                        </div>
                        <div class="main_press__news_item_text">
                            Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                        </div>
                    </a>
                    <a href="#" class="main_press__news_item this--small">
                        <div class="main_press__news_item_row">
                            <div class="main_press__news_item_date">
                                16 мая 2022
                            </div>
                            <div class="main_press__news_item_arrow"></div>
                        </div>
                        <div class="main_press__news_item_title">
                            Название новости в две строки с дополнительной информацией
                        </div>
                        <div class="main_press__news_item_text">
                            Начало текста, который содержится в новости который содержится в новости который содержится в новости который содержится в новости
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>