.press_card {
  position: relative;
  padding: 90px 0 100px;
  @media ($tablet3) {
    padding: 44px 0 30px;
  }
}
.press_card__container {
  max-width: 940px;
}
.press_card__date {
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 1.67;
  text-align: center;
  color: #929DB6;

  @media ($tablet3) {
    margin-top: 15px;
    font-size: 1.4rem;
    line-height: 1.79;
  }
}
.press_card__img {
  margin-top: 20px;
  position: relative;
  padding-top: 54.67%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.press_card__label {
  color: #000000;
  margin-top: 10px;
  @media ($tablet3) {
    font-size: 1.3rem;
    line-height: 1.54;
  }
}
.press_card__text {
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #000000;
  @media ($tablet3) {
    font-size: 1.4rem;
    line-height: 1.79;
  }
  p {
    margin-bottom: 20px;
    @media ($tablet3) {
      margin-bottom: 15px;
    }
  }
}
.press_card__link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  color: #26160C;
  transition: 0.3s;
  @media ($tablet3) {
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.56;
  }

  &:hover {
    @media ($tabletMax) {
      color: #D03200;
      svg {
        path {
          stroke: #D03200;
        }
      }
    }
  }

  svg {
    margin-right: 15px;
    path {
      transition: 0.3s;
    }
  }
}