<section class="press_card">
    <div class="press_card__breadcrumbs breadcrumbs">
        <div class="breadcrumbs_wr">
            <a href="/" class="breadcrumb this--link">Главная <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L5 5L1 9" stroke="#26160C" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            </a>
            <a href="#" class="breadcrumb this--link">Пресс-центр <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L5 5L1 9" stroke="#26160C" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            </a>
            <a href="#" class="breadcrumb this--link">СМИ о компании <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L5 5L1 9" stroke="#26160C" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            </a>
            <div class="breadcrumb">Ясность нашей позиции очевидна: высококачественный прототип</div>
        </div>
    </div>
    <div class="press_card__container container">
        <div class="press_card__content">
            <h1 class="press_card__title">Ясность нашей позиции очевидна: высококачественный прототип</h1>
            <div class="press_card__date">16 мая 2022</div>
            <div class="press_card__img">
                <img src="./img/main/main_press/news_img.jpg" alt="">
            </div>
            <div class="press_card__label">Подпись к изображению</div>
            <div class="press_card__text">
                <p>Описание того, что происходит в видео. Внезапно, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом -  указаны как претенденты на роль ключевых факторов. Безусловно, консультация с широким активом предопределяет высокую востребованность вывода текущих активов. Как уже неоднократно упомянуто, независимые государства, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</p>
                <p>Описание того, что происходит в видео. Внезапно, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом -  указаны как претенденты на роль ключевых факторов. Безусловно, консультация с широким активом предопределяет высокую востребованность вывода текущих активов. Как уже неоднократно упомянуто, независимые государства, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</p>
                <p>Описание того, что происходит в видео. Внезапно, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом -  указаны как претенденты на роль ключевых факторов. Безусловно, консультация с широким активом предопределяет высокую востребованность вывода текущих активов. Как уже неоднократно упомянуто, независимые государства, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</p>
                <p>Описание того, что происходит в видео. Внезапно, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом -  указаны как претенденты на роль ключевых факторов. Безусловно, консультация с широким активом предопределяет высокую востребованность вывода текущих активов. Как уже неоднократно упомянуто, независимые государства, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</p>
            </div>
            <a href="#" class="press_card__link"><svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 1L1 7L7 13" stroke="#26160C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>Назад к новостям</a>
        </div>
    </div>
</section>