<section class="projects section this--top">
    <div class="container">
        <div class="projects__content">
            <h2 class="projects__title this--red">Выполненные проекты</h2>
            <div class="projects__line line"></div>
            <div class="projects__slider_box">
                <div class="projects__slider_btn_prev default_slider__btn_prev"></div>
                <div class="projects__slider_btn_next default_slider__btn_next"></div>
                <div class="projects__slider_pagination default_slider__pagination"></div>
                <div class="projects__slider default_slider swiper-container">
                    <div class="projects__slider_wrapper swiper-wrapper">
                        <div class="projects__slider_slide swiper-slide">
                            <div class="projects__slider_img">
                                <img src="./img/services_card/projects/1.jpg" alt="">
                                <div class="projects__slider_review">
                                    <div class="projects__slider_title">Название проекта</div>
                                    <div class="projects__slider_text">Детали (оказанные услуги, сроки)</div>
                                </div>
                            </div>
                        </div>
                        <div class="projects__slider_slide swiper-slide">
                            <div class="projects__slider_img">
                                <img src="./img/services_card/projects/1.jpg" alt="">
                                <div class="projects__slider_review">
                                    <div class="projects__slider_title">Название проекта</div>
                                    <div class="projects__slider_text">Детали (оказанные услуги, сроки) дополнительная информация</div>
                                </div>
                            </div>
                        </div>
                        <div class="projects__slider_slide swiper-slide">
                            <div class="projects__slider_img">
                                <img src="./img/services_card/projects/1.jpg" alt="">
                                <div class="projects__slider_review">
                                    <div class="projects__slider_title">Название проекта</div>
                                    <div class="projects__slider_text">Детали (оказанные услуги, сроки)</div>
                                </div>
                            </div>
                        </div>
                        <div class="projects__slider_slide swiper-slide">
                            <div class="projects__slider_img">
                                <img src="./img/services_card/projects/1.jpg" alt="">
                                <div class="projects__slider_review">
                                    <div class="projects__slider_title">Название проекта</div>
                                    <div class="projects__slider_text">Детали (оказанные услуги, сроки)</div>
                                </div>
                            </div>
                        </div>
                        <div class="projects__slider_slide swiper-slide">
                            <div class="projects__slider_img">
                                <img src="./img/services_card/projects/1.jpg" alt="">
                                <div class="projects__slider_review">
                                    <div class="projects__slider_title">Название проекта</div>
                                    <div class="projects__slider_text">Детали (оказанные услуги, сроки)</div>
                                </div>
                            </div>
                        </div>
                        <div class="projects__slider_slide swiper-slide">
                            <div class="projects__slider_img">
                                <img src="./img/services_card/projects/1.jpg" alt="">
                                <div class="projects__slider_review">
                                    <div class="projects__slider_title">Название проекта</div>
                                    <div class="projects__slider_text">Детали (оказанные услуги, сроки)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>