<section class="investors_top">
    <div class="investors_top__content">
        <div class="investors_top__top">
            <div class="container">
                <h1 class="investors_top__title">Инвестиции в стабильность</h1>
                <div class="investors_top__subtitle">
                    Покупайте купоны и получайте процент с прибыли<br> в ведущей теплоэнергетической компании Ленобласти
                </div>
                <button class="investors_top__btn btn">Оставить заявку<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1.5L7 7L1 12.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></button>
            </div>
        </div>
        <div class="investors_top__bottom">
            <div class="container">
                <div class="investors_top__counts">
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">X</div>
                        <div class="investors_top__count_bottom">место в отрасли<br>по объему выручки</div>
                    </div>
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">X</div>
                        <div class="investors_top__count_bottom">года<br>срок обращения</div>
                    </div>
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">X %</div>
                        <div class="investors_top__count_bottom">ставка купона</div>
                    </div>
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">XX</div>
                        <div class="investors_top__count_bottom">дней<br>купонный период</div>
                    </div>
                    <div class="investors_top__count">
                        <div class="investors_top__count_top">XXX</div>
                        <div class="investors_top__count_bottom">млн рублей<br>объем выпуска</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>