<section class="lk">
    <div class="container">
        <div class="lk__content">
            <span class="lk__mob_menu_btn"></span>
            <div class="lk__menu">
                <span class="lk__menu_cross"></span>
                <div class="lk__menu_title">
                    Личный кабинет
                </div>
                <div class="lk__menu_line line"></div>
                <ul class="lk__menu_items">
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Подача показаний</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Заявки</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">История показаний</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Документы</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Мои данные</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link active">Мои реквизиты</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Помощь</a></li>
                </ul>
                <div class="lk__menu_line line"></div>
                <a href="#" class="lk__menu_exit">Выйти из личного кабинета</a>
            </div>
            <div class="lk__body">
                <div class="requisites">
                    <h1 class="lk__title">Мои реквизиты</h1>
                    <div class="requisites__subtitle">Если вам требуется изменение данных, позвоните нам</div>
                    <a href="tel:+78125603828" class="requisites__link">+7 (812) 560-38-28</a>
                    <div class="requisites__items">
                        <div class="requisites__item">
                            <div class="requisites__item_top">ФИО*</div>
                            <div class="requisites__item_bottom">Иванов Константин Константинович</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">Дата рождения*</div>
                            <div class="requisites__item_bottom">22.12.1976</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">Место рождения*</div>
                            <div class="requisites__item_bottom">Санкт-Петербург, ул. Лесная, д. 56 А</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">Серия паспорта*</div>
                            <div class="requisites__item_bottom">00 00</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">Ноиер паспорта*</div>
                            <div class="requisites__item_bottom">676767</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">Паспорт выдан*</div>
                            <div class="requisites__item_bottom">МО УФМС по Санкт-Петербургу 22.12.1999</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">Номер записи в ЕГРИП*</div>
                            <div class="requisites__item_bottom">3434500</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">Дата внесения в реестр ЕГРИП*</div>
                            <div class="requisites__item_bottom">12.03.2020</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">ИНН*</div>
                            <div class="requisites__item_bottom">78930893457903</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">ОГРНИП*</div>
                            <div class="requisites__item_bottom">78930893457903</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">Адрес регистрации*</div>
                            <div class="requisites__item_bottom">Санкт-Петербург, ул. Лесная, д. 56 А</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>