.search_result {
  position: relative;
  padding: 85px 0 100px;
  @media ($tablet3) {
    padding: 44px 0 30px;
  }
}
.search_result__container {
  max-width: 1240px;
}
.search_result__count {
  margin-top: 40px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #929DB6;
  @media ($tablet3) {
    margin-top: 20px;
    font-size: 1.4rem;
    line-height: 1.79;
  }
}
.search_result__items {
  margin-top: 30px;
  margin-bottom: -30px;
  @media ($tablet3) {
    margin-top: 20px;
    margin-bottom: -15px;
  }
}
.search_result__item {
  margin-bottom: 30px;
  @media ($tablet3) {
    margin-bottom: 15px;
  }
}
.search_result__item_top {
  a {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
    color: #4F4F4F;
    transition: 0.3s;

    &:hover {
      @media ($tabletMax) {
        color: #D03200;
      }
    }
  }
  @media ($tablet3) {
    a {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 1.56;
    }
  }
}
.search_result__item_bottom {
  display: flex;
  align-items: center;
  margin-left: -10px;
  margin-top: 10px;
  @media ($tablet3) {
    margin-top: 0;
  }
  .breadcrumb {
    color: #929DB6;
    font-size: 1.8rem;
    line-height: 1.67;
    @media ($tablet3) {
      font-size: 1.4rem;
      line-height: 1.79;
    }
  }
}
.search_result__pagination {
  margin-top: 80px;
  @media ($tablet3) {
    margin-top: 40px;
  }
}