<section class="main_activities section this--top">
    <div class="container">
        <div class="main_activities__content">
            <h2 class="main_activities__title">Направления деятельности</h2>
            <div class="main_activities__line line"></div>
            <div class="main_activities__items">
                <div class="main_activities__item">
                    <a href="#" class="main_activities__item_link">
                        <img src="./img/main/main_activities/1.jpg" alt="">
                        <span class="main_activities__item_title">Проектирование</span>
                        <span class="main_activities__item_arrow"></span>
                    </a>
                    <div class="main_activities__item_line"></div>
                    <div class="main_activities__item_bottom">
                        <div class="main_activities__item_number">01</div>
                        <div class="main_activities__item_text">Проектирование и монтаж объектов теплоэнергетики</div>
                    </div>
                </div>
                <div class="main_activities__item">
                    <a href="#" class="main_activities__item_link">
                        <img src="./img/main/main_activities/2.jpg" alt="">
                        <span class="main_activities__item_title">Подключение</span>
                        <span class="main_activities__item_arrow"></span>
                    </a>
                    <div class="main_activities__item_line"></div>
                    <div class="main_activities__item_bottom">
                        <div class="main_activities__item_number">02</div>
                        <div class="main_activities__item_text">Подключение к сетям</div>
                    </div>
                </div>
                <div class="main_activities__item">
                    <a href="#" class="main_activities__item_link">
                        <img src="./img/main/main_activities/3.jpg" alt="">
                        <span class="main_activities__item_title">Обеспечение</span>
                        <span class="main_activities__item_arrow"></span>
                    </a>
                    <div class="main_activities__item_line"></div>
                    <div class="main_activities__item_bottom">
                        <div class="main_activities__item_number">03</div>
                        <div class="main_activities__item_text">Выработка, транспортировка и обеспечение потребителей ресурсами</div>
                    </div>
                </div>
                <div class="main_activities__item">
                    <a href="#" class="main_activities__item_link">
                        <img src="./img/main/main_activities/4.jpg" alt="">
                        <span class="main_activities__item_title">Эксплуатация</span>
                        <span class="main_activities__item_arrow"></span>
                    </a>
                    <div class="main_activities__item_line"></div>
                    <div class="main_activities__item_bottom">
                        <div class="main_activities__item_number">04</div>
                        <div class="main_activities__item_text">Эксплуатация тепловых сетей</div>
                    </div>
                </div>
                <div class="main_activities__item">
                    <a href="#" class="main_activities__item_link">
                        <img src="./img/main/main_activities/5.jpg" alt="">
                        <span class="main_activities__item_title">Обслуживание</span>
                        <span class="main_activities__item_arrow"></span>
                    </a>
                    <div class="main_activities__item_line"></div>
                    <div class="main_activities__item_bottom">
                        <div class="main_activities__item_number">05</div>
                        <div class="main_activities__item_text">Техническое обслуживание индивидуальных тепловых пунктов</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>