<section class="emission section this--top">
    <div class="container">
        <div class="emission__content">
            <h2 class="emission__title">Параметры эмиссии</h2>
            <div class="emission__line line"></div>
            <div class="emission__row">
                <div class="emission__img_wr">
                    <div class="emission__img">
                        <img src="./img/investors/emission/1.png" alt="">
                    </div>
                </div>
                <div class="emission__items">
                    <div class="emission__item">
                        <div class="emission__item_left">
                            Дата размещения (план)
                        </div>
                        <div class="emission__item_right">17.12.2020</div>
                    </div>
                    <div class="emission__item">
                        <div class="emission__item_left">
                            Уровень листинга
                        </div>
                        <div class="emission__item_right">Сектор роста</div>
                    </div>
                    <div class="emission__item">
                        <div class="emission__item_left">
                            Объем выпуска
                        </div>
                        <div class="emission__item_right">XXX XXX XXX ₽</div>
                    </div>
                    <div class="emission__item">
                        <div class="emission__item_left">
                            Номинал облигаций
                        </div>
                        <div class="emission__item_right">XXXX ₽</div>
                    </div>
                    <div class="emission__item">
                        <div class="emission__item_left">
                            Ставка купона
                        </div>
                        <div class="emission__item_right">X%</div>
                    </div>
                    <div class="emission__item">
                        <div class="emission__item_left">
                            Срок обращения
                        </div>
                        <div class="emission__item_right">XXX дней</div>
                    </div>
                    <div class="emission__item">
                        <div class="emission__item_left">
                            Оферта
                        </div>
                        <div class="emission__item_right">Не предусмотрена</div>
                    </div>
                    <div class="emission__item">
                        <div class="emission__item_left">
                            Амортизация долга
                        </div>
                        <div class="emission__item_right">Не предусмотрена</div>
                    </div>
                    <div class="emission__item">
                        <div class="emission__item_left">
                            Длительность купонного периода
                        </div>
                        <div class="emission__item_right">XX день</div>
                    </div>
                    <div class="emission__item">
                        <div class="emission__item_left">
                            Цена размещения
                        </div>
                        <div class="emission__item_right">100% от номинальной стоимости</div>
                    </div>
                    <div class="emission__item">
                        <div class="emission__item_left">
                            Число купонных периодов
                        </div>
                        <div class="emission__item_right">X</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>