<section class="contacts section">
    <div class="container">
        <div class="contacts__content">
            <h2 class="contacts__title">Контакты</h2>
            <div class="contacts__line line"></div>
            <div class="contacts__head">
                <div class="contacts__head_title">Головной офис АО «ЛОТЭК»</div>
                <div class="contacts__items this--head">
                    <div class="contacts__item">
                        <div class="contacts__item_top">Адрес офиса</div>
                        <div class="contacts__item_bottom">192171, Санкт-Петербург, ул. Седова, д.57</div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__item_top">Контактное лицо</div>
                        <div class="contacts__item_bottom">Варзарь Иван Тимофеевич</div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__item_top">Телефон</div>
                        <div class="contacts__item_bottom">+ 7 (000) 000-00-00</div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__item_top">E-mail</div>
                        <div class="contacts__item_bottom">test@test.ru</div>
                    </div>
                </div>
            </div>
            <div class="contacts__slider swiper-container">
                <div class="contacts__slider_pagination"></div>
                <div class="contacts__slider_btn_prev"></div>
                <div class="contacts__slider_btn_next"></div>
                <div class="contacts__slider_wrapper swiper-wrapper">
                    <div class="contacts__slider_slide swiper-slide">
                        <div class="contacts__slide_content this--first">
                            <div class="contacts__slide_title">Волховский р-н</div>
                            <div class="contacts__items">
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Адрес офиса</div>
                                    <div class="contacts__item_bottom">187403, Ленинградская область, Волховский район, г. Волхов, Волховский пр., д. 17</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Контактное лицо</div>
                                    <div class="contacts__item_bottom">Варзарь Иван Тимофеевич</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Телефон</div>
                                    <div class="contacts__item_bottom">+ 7 (000) 000-00-00</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">E-mail</div>
                                    <div class="contacts__item_bottom">test@test.ru</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Обособленные подразделения</div>
                                    <div class="contacts__item_bottom">Участок г. Волхов</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contacts__slider_slide swiper-slide">
                        <div class="contacts__slide_content">
                            <div class="contacts__slide_title">Лодейнопольский р-н</div>
                            <div class="contacts__items">
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Адрес офиса</div>
                                    <div class="contacts__item_bottom">187770, Ленинградская область, Лодейнопольский район, г. Лодейное поле, ул. Титова, д. 27А</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Контактное лицо</div>
                                    <div class="contacts__item_bottom">Варзарь Иван Тимофеевич</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Телефон</div>
                                    <div class="contacts__item_bottom">+ 7 (000) 000-00-00</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">E-mail</div>
                                    <div class="contacts__item_bottom">test@test.ru</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Обособленные подразделения</div>
                                    <div class="contacts__item_bottom">Участок Лодейнопольский р-н</div>
                                    <div class="contacts__item_bottom">Участок Алёховщинский</div>
                                    <div class="contacts__item_bottom">Участок Доможировский</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contacts__slider_slide swiper-slide">
                        <div class="contacts__slide_content">
                            <div class="contacts__slide_title">Кингисеппский р-н</div>
                            <div class="contacts__items">
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Адрес офиса</div>
                                    <div class="contacts__item_bottom">188480, Ленинградская область, Кингисеппский район, г. Кингисепп, ул. Малая, д. 5</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Контактное лицо</div>
                                    <div class="contacts__item_bottom">Варзарь Иван Тимофеевич</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Телефон</div>
                                    <div class="contacts__item_bottom">+ 7 (000) 000-00-00</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">E-mail</div>
                                    <div class="contacts__item_bottom">test@test.ru</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Обособленные подразделения</div>
                                    <div class="contacts__item_bottom">г. Кингисепп</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contacts__slider_slide swiper-slide">
                        <div class="contacts__slide_content this--last">
                            <div class="contacts__slide_title">Кировский р-н</div>
                            <div class="contacts__items">
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Адрес офиса</div>
                                    <div class="contacts__item_bottom">187320, Ленинградская область, Кировский район, г. Шлиссельбург, ул. Жука, д. 3</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Контактное лицо</div>
                                    <div class="contacts__item_bottom">Варзарь Иван Тимофеевич</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Телефон</div>
                                    <div class="contacts__item_bottom">+ 7 (000) 000-00-00</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">E-mail</div>
                                    <div class="contacts__item_bottom">test@test.ru</div>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__item_top">Обособленные подразделения</div>
                                    <div class="contacts__item_bottom">Участок г. Отрадное</div>
                                    <div class="contacts__item_bottom">Участок г. Шлиссельбург</div>
                                    <div class="contacts__item_bottom">Участок Шумский</div>
                                    <div class="contacts__item_bottom">Участок Приладожский</div>
                                    <div class="contacts__item_bottom">Участок Назиевский</div>
                                    <div class="contacts__item_bottom">Участок Сухое</div>
                                    <div class="contacts__item_bottom">Участок по обслуживанию инженерных сетей "Уткина Заводь"
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>