<section class="management">
    <div class="container">
        <div class="management__content">
            <div class="management__breadcrumbs breadcrumbs">
                <div class="breadcrumbs_wr">
                    <a href="/" class="breadcrumb this--link">Главная
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L5 5L1 9" stroke="#26160C" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <a href="#" class="breadcrumb this--link">О компании
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L5 5L1 9" stroke="#26160C" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <div class="breadcrumb">Руководство</div>
                </div>
            </div>
            <h1 class="management__title">Руководство</h1>
            <div class="management__top">
                <div class="management__top_left">
                    <div class="management__card this--overbig">
                        <div class="management__card_img_wr">
                            <div class="management__card_img">
                                <img src="./img/management/man.jpg" alt="">
                            </div>
                        </div>
                        <div class="management__card_bottom">
                            <div class="management__card_title">Генеральный директор</div>
                            <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                            <div class="management__card_mail">@gmail.com</div>
                        </div>
                    </div>
                    <div class="management__card this--overbig">
                        <div class="management__card_img_wr">
                            <div class="management__card_img">
                                <img src="./img/management/man.jpg" alt="">
                            </div>
                        </div>
                        <div class="management__card_bottom">
                            <div class="management__card_title">Первый заместитель генерального директора</div>
                            <div class="management__card_name">Папафанасопуло Георгий Сергеевич</div>
                            <div class="management__card_mail">@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="management__top_right">
                    <div class="management__card this--big">
                        <div class="management__card_img_wr">
                            <div class="management__card_img">
                                <img src="./img/management/woman.jpg" alt="">
                            </div>
                        </div>
                        <div class="management__card_bottom">
                            <div class="management__card_title">Заместитель генерального директора по правовым
                                вопросам
                            </div>
                            <div class="management__card_name">Кудрявцева Татьяна Евгеньевна</div>
                            <div class="management__card_mail">@gmail.com</div>
                        </div>
                    </div>
                    <div class="management__card this--big">
                        <div class="management__card_img_wr">
                            <div class="management__card_img">
                                <img src="./img/management/woman.jpg" alt="">
                            </div>
                        </div>
                        <div class="management__card_bottom">
                            <div class="management__card_title">Заместитель генерального директора по экономике и
                                финансам
                            </div>
                            <div class="management__card_name">Рыжкова Тамара Вячеславовна</div>
                            <div class="management__card_mail">@gmail.com</div>
                        </div>
                    </div>
                    <div class="management__card this--big">
                        <div class="management__card_img_wr">
                            <div class="management__card_img">
                                <img src="./img/management/woman.jpg" alt="">
                            </div>
                        </div>
                        <div class="management__card_bottom">
                            <div class="management__card_title">Заместитель генерального директора по внутреннему аудиту
                                и финансовой отчетности
                            </div>
                            <div class="management__card_name">Кулагина Мария Анатольевна</div>
                            <div class="management__card_mail">@gmail.com</div>
                        </div>
                    </div>
                    <div class="management__card this--big">
                        <div class="management__card_img_wr">
                            <div class="management__card_img">
                                <img src="./img/management/man.jpg" alt="">
                            </div>
                        </div>
                        <div class="management__card_bottom">
                            <div class="management__card_title">Заместитель генерального директора по безопасности</div>
                            <div class="management__card_name">Пушкарев Александр Александрович</div>
                            <div class="management__card_mail">@gmail.com</div>
                        </div>
                    </div>
                    <div class="management__card this--big">
                        <div class="management__card_img_wr">
                            <div class="management__card_img">
                                <img src="./img/management/man.jpg" alt="">
                            </div>
                        </div>
                        <div class="management__card_bottom">
                            <div class="management__card_title">Заместитель генерального директора (начальник
                                Юго-Западного теплового района)
                            </div>
                            <div class="management__card_name">Новолетов Александр Николаевич</div>
                            <div class="management__card_mail">@gmail.com</div>
                        </div>
                    </div>
                    <div class="management__card this--big">
                        <div class="management__card_img_wr">
                            <div class="management__card_img">
                                <img src="./img/management/man.jpg" alt="">
                            </div>
                        </div>
                        <div class="management__card_bottom">
                            <div class="management__card_title">Заместитель генерального директора (начальник
                                Северо-Восточного теплового района)
                            </div>
                            <div class="management__card_name">Гордин Сергей Викторович</div>
                            <div class="management__card_mail">@gmail.com</div>
                        </div>
                    </div>
                    <div class="management__card this--big">
                        <div class="management__card_img_wr">
                            <div class="management__card_img">
                                <img src="./img/management/man.jpg" alt="">
                            </div>
                        </div>
                        <div class="management__card_bottom">
                            <div class="management__card_title">Заместитель генерального директора (начальник Южного
                                теплового района)
                            </div>
                            <div class="management__card_name">Кожин Алексей Игореевич</div>
                            <div class="management__card_mail">@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="management__bottom">
                <div class="management__card">
                    <div class="management__card_title">Коммерческий директор</div>
                    <div class="management__card_name">Алышева Любовь Ивановна</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Начальник отдела автоматизации и информационных технологий</div>
                    <div class="management__card_name">Алышев Евгений Викторович</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
                <div class="management__card">
                    <div class="management__card_title">Генеральный директор</div>
                    <div class="management__card_name">Варзарь Иван Тимофеевич</div>
                    <div class="management__card_mail">@gmail.com</div>
                </div>
            </div>
        </div>
    </div>
</section>