.main_about {
  padding-bottom: 100px;
}
.main_about__content {
  padding-bottom: 100px;
  @media ($tablet) {
    padding-bottom: 40px;
  }
}
.main_about__row {
  display: flex;
  margin-top: 40px;
  align-items: flex-start;

  @media ($tablet) {
    flex-direction: column-reverse;
    margin-top: 15px;
  }
  &.this--services_card {
    margin-top: 0;
    @media ($tablet) {
      flex-direction: column;
    }
    .main_about__left {
      @media ($tablet) {
        margin-top: 0;
      }
    }
  }
}
.main_about__left {
    width: calc(42.1% - 60px);
  margin-right: 60px;
  @media ($tablet) {
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
  }
}
.main_about__text {
  font-size: 1.8rem;
  line-height: 1.67;
  color: #000000;
  p {
    margin-bottom: 30px;
  }
  @media ($tablet3) {
    font-size: 1.4rem;
    line-height: 1.79;
  }
}
.main_about__links {
  list-style-type: none;
  margin-top: 40px;
  margin-bottom: -20px;
  @media ($tablet) {
    margin-top: 20px;
    text-align: center;
  }
  @media ($tablet3) {
    font-size: 1.4rem;
    line-height: 1.79;
  }
}
.main_about__link_wr {
  margin-bottom: 20px;
}
.main_about__link {
  color: #26160C;
  font-size: 2rem;
  line-height: 1.5;

  transition: 0.3s;
  @media ($tablet3) {
    font-size: 1.4rem;
    line-height: 1.79;
  }

  &:hover {
    @media ($tabletMax) {
      color: #D03200;
      svg {
        path {
          stroke: #D03200;
        }
      }
    }
  }

  svg {
    margin-left: 15px;
    @media ($tablet3) {
      margin-left: 10px;
    }
    path {
      transition: 0.3s;
    }
  }
}
.main_about__slider_box {
  width: 57.9%;
}
