<section class="main_about section this--top">
    <div class="container">
        <div class="main_about__content">
            <h2 class="main_about__title this--red">О компании</h2>
            <div class="main_about__line line"></div>
            <div class="main_about__row">
                <div class="main_about__left">
                    <div class="main_about__text">
                        <p>
                            Внезапно, ключевые особенности структуры проекта формируют глобальную экономическую сеть и
                            при этом - указаны как претенденты на роль ключевых факторов. Безусловно, консультация с
                            широким активом предопределяет высокую востребованность вывода текущих активов.</p>
                        <p>Как уже неоднократно упомянуто, независимые государства, которые представляют собой яркий
                            пример континентально-европейского типа политической культуры, будут превращены в посмешище,
                            хотя само их существование приносит несомненную пользу обществу. Внезапно, ключевые
                            особенности структуры проекта формируют глобальную экономическую сеть и при этом - указаны
                            как претенденты на роль ключевых факторов.</p>
                    </div>
                    <ul class="main_about__links">
                        <li class="main_about__link_wr">
                            <a href="#" class="main_about__link">
                                Миссия и стратегия
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L7 7L1 13" stroke="#26160C" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </li>
                        <li class="main_about__link_wr">
                            <a href="#" class="main_about__link">
                                Финансовая отчетность
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L7 7L1 13" stroke="#26160C" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </li>
                        <li class="main_about__link_wr">
                            <a href="#" class="main_about__link">
                                Свидетельства и лицензии
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L7 7L1 13" stroke="#26160C" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="main_about__slider_box default_slider__box">
                    <div class="main_about__slider_btn_prev default_slider__btn_prev"></div>
                    <div class="main_about__slider_btn_next default_slider__btn_next"></div>
                    <div class="main_about__slider_pagination default_slider__pagination"></div>
                    <div class="main_about__slider default_slider swiper-container">
                        <div class="main_about__slider_wrapper default_slider__wrapper swiper-wrapper">
                            <div class="main_about__slider_slide default_slider__slide swiper-slide">
                                <div class="main_about__slider_img default_slider__img">
                                    <img src="./img/main/main_about/slider_img.jpg" alt="">
                                </div>
                                <div class="main_about__slider_text default_slider__text">Подпись к изображению</div>
                            </div>
                            <div class="main_about__slider_slide default_slider__slide swiper-slide">
                                <div class="main_about__slider_img default_slider__img">
                                    <img src="./img/main/main_about/slider_img.jpg" alt="">
                                </div>
                                <div class="main_about__slider_text default_slider__text">Подпись к изображению</div>
                            </div>
                            <div class="main_about__slider_slide default_slider__slide swiper-slide">
                                <div class="main_about__slider_img default_slider__img">
                                    <img src="./img/main/main_about/slider_img.jpg" alt="">
                                </div>
                                <div class="main_about__slider_text default_slider__text">Подпись к изображению</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>