.requisites {
  max-width: 500px;
  @media ($tablet) {
   margin: 0 auto;
  }
}
.requisites__subtitle {
  margin-top: 30px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #000000;

  @media ($tablet) {
    margin-top: 20px;
  }
}
.requisites__link {
  margin-top: 10px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.38;
  color: #000000;
  transition: 0.3s;

  &:hover {
    @media ($tabletMax) {
      color: #D03200;
    }
  }

  @media ($tablet) {
    font-size: 3rem;
  }
}
.requisites__items {
  margin-top: 60px;
  margin-bottom: -20px;

  @media ($tablet) {
    margin-top: 40px;
    margin-bottom: -10px;
  }
}
.requisites__item {
  margin-bottom: 20px;
  padding: 12px 15px 10px;
  background: #FFFFFF;
  border-radius: 5px;
  @media ($tablet) {
    margin-bottom: 10px;
  }
}
.requisites__item_top {
  font-size: 1.8rem;
  line-height: 1.67;
}
.requisites__item_bottom {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}