<section class="lk">
    <div class="container">
        <div class="lk__content">
            <span class="lk__mob_menu_btn"></span>
            <div class="lk__menu">
                <span class="lk__menu_cross"></span>
                <div class="lk__menu_title">
                    Личный кабинет
                </div>
                <div class="lk__menu_line line"></div>
                <ul class="lk__menu_items">
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Подача показаний</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Заявки</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">История показаний</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Документы</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Мои данные</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link active">Мои реквизиты</a></li>
                    <li class="lk__menu_item"><a href="#" class="lk__menu_link">Помощь</a></li>
                </ul>
                <div class="lk__menu_line line"></div>
                <a href="#" class="lk__menu_exit">Выйти из личного кабинета</a>
            </div>
            <div class="lk__body">
                <div class="requisites">
                    <h1 class="lk__title">Мои реквизиты</h1>
                    <div class="requisites__subtitle">Если вам требуется изменение данных, позвоните нам</div>
                    <a href="tel:+78125603828" class="requisites__link">+7 (812) 560-38-28</a>
                    <div class="requisites__items">
                        <div class="requisites__item">
                            <div class="requisites__item_top">Тип юридического лица*</div>
                            <div class="requisites__item_bottom">ООО</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">Название юридического лица*</div>
                            <div class="requisites__item_bottom">Название</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">Юридический адрес*</div>
                            <div class="requisites__item_bottom">Санкт-Петербург, ул. Лесная, д. 56 А</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">Почтовый адрес*</div>
                            <div class="requisites__item_bottom">Санкт-Петербург, ул. Лесная, д. 56 А</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">Номер записи в ЕГРЮЛ*</div>
                            <div class="requisites__item_bottom">78930893457903</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">ОГРН*</div>
                            <div class="requisites__item_bottom">78930893457903</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">ИНН*</div>
                            <div class="requisites__item_bottom">78930893457903</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">КПП*</div>
                            <div class="requisites__item_bottom">78930893457903</div>
                        </div>
                        <div class="requisites__item">
                            <div class="requisites__item_top">ОКПО*</div>
                            <div class="requisites__item_bottom">78930893457903</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>