<section class="default">
    <div class="default__breadcrumbs breadcrumbs">
        <div class="breadcrumbs_wr">
            <a href="/" class="breadcrumb this--link">Главная
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L5 5L1 9" stroke="#26160C" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
            <a href="#" class="breadcrumb this--link">Пресс-центр
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L5 5L1 9" stroke="#26160C" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
            <a href="#" class="breadcrumb this--link">СМИ о компании
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L5 5L1 9" stroke="#26160C" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
            <div class="breadcrumb">Ясность нашей позиции очевидна: высококачественный прототип</div>
        </div>
    </div>
    <div class="default__content">
        <div class="default__container container">
            <h1>Заголовок текстовой страницы</h1>
            <br>
            <h2>Заголовок страницы h2 длинный с дополнительной информацией</h2>
            <br>
            <p>Разнообразный и богатый опыт говорит нам, что убеждённость некоторых оппонентов создаёт необходимость
                включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм
                воздействия. Учитывая ключевые сценарии поведения, социально-экономическое развитие не оставляет шанса
                для анализа существующих паттернов поведения!</p>
            <p>Но сложившаяся структура организации не оставляет шанса для дальнейших направлений развития. Принимая во
                внимание показатели успешности, постоянный количественный рост и сфера нашей активности выявляет срочную
                потребность форм воздействия. В своём стремлении повысить качество жизни, они забывают, что дальнейшее
                развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании
                укрепления моральных ценностей.</p>
            <br>
            <h3>Заголовок страницы h3 длинный с дополнительной информацией длинный с дополнительной информацией длинный
                с дополнительной информацией длинный с дополнительной информацией </h3>
            <br>
            <p>Разнообразный и богатый опыт говорит нам, что убеждённость некоторых оппонентов создаёт необходимость
                включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм
                воздействия. Учитывая ключевые сценарии поведения, социально-экономическое развитие не оставляет шанса
                для анализа существующих паттернов поведения!</p>
            <p>Но сложившаяся структура организации не оставляет шанса для дальнейших направлений развития. Принимая во
                внимание показатели успешности, постоянный количественный рост и сфера нашей активности выявляет срочную
                потребность форм воздействия. В своём стремлении повысить качество жизни, они забывают, что дальнейшее
                развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании
                укрепления моральных ценностей.</p>
            <br>
            <h3>Заголовок страницы h3 длинный с дополнительной информацией</h3>
            <br>
            <p>Разнообразный и богатый опыт говорит нам, что убеждённость некоторых оппонентов создаёт необходимость
                включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм
                воздействия.
                <a href="#">Ссылка в тексте</a> Учитывая ключевые сценарии поведения, социально-экономическое развитие
                не оставляет шанса для анализа существующих паттернов поведения!</p>
            <p>Но сложившаяся структура организации не оставляет шанса для дальнейших направлений развития. Принимая во
                внимание показатели успешности, постоянный количественный рост и сфера нашей активности выявляет срочную
                потребность форм воздействия. В своём стремлении повысить качество жизни, они забывают, что дальнейшее
                развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании
                укрепления моральных ценностей.</p>
            <br>
            <div class="default_page__slider_box default_slider__box">
                <div class="default_page__slider_btn_prev1 default_slider__btn_prev"></div>
                <div class="default_page__slider_btn_next1 default_slider__btn_next"></div>
                <div class="default_page__slider_pagination1 default_slider__pagination"></div>
                <div class="default_page__slider1 default_slider swiper-container">
                    <div class="default_page__slider_wrapper default_slider__wrapper swiper-wrapper">
                        <div class="default_page__slider_slide default_slider__slide swiper-slide">
                            <div class="default_page__slider_img default_slider__img">
                                <img src="./img/main/main_about/slider_img.jpg" alt="">
                            </div>
                            <div class="default_page__slider_text default_slider__text">Подпись к изображению</div>
                        </div>
                        <div class="default_page__slider_slide default_slider__slide swiper-slide">
                            <div class="default_page__slider_img default_slider__img">
                                <img src="./img/main/main_about/slider_img.jpg" alt="">
                            </div>
                            <div class="default_page__slider_text default_slider__text">Подпись к изображению</div>
                        </div>
                        <div class="default_page__slider_slide default_slider__slide swiper-slide">
                            <div class="default_page__slider_img default_slider__img">
                                <img src="./img/main/main_about/slider_img.jpg" alt="">
                            </div>
                            <div class="default_page__slider_text default_slider__text">Подпись к изображению</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="default_page__slider_box default_slider__box">
                <div class="default_page__slider_btn_prev2 default_slider__btn_prev"></div>
                <div class="default_page__slider_btn_next2 default_slider__btn_next"></div>
                <div class="default_page__slider_pagination2 default_slider__pagination"></div>
                <div class="default_page__slider2 default_slider swiper-container">
                    <div class="default_page__slider_wrapper default_slider__wrapper swiper-wrapper">
                        <div class="default_page__slider_slide default_slider__slide swiper-slide">
                            <div class="default_page__slider_img default_slider__img">
                                <iframe src="https://www.youtube.com/embed/-452p_9ESbM" title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="default_page__slider_text default_slider__text">Подпись к видео</div>
                        </div>
                        <div class="default_page__slider_slide default_slider__slide swiper-slide">
                            <div class="default_page__slider_img default_slider__img">
                                <img src="./img/main/main_about/slider_img.jpg" alt="">
                            </div>
                            <div class="default_page__slider_text default_slider__text">Подпись к изображению</div>
                        </div>
                        <div class="default_page__slider_slide default_slider__slide swiper-slide">
                            <div class="default_page__slider_img default_slider__img">
                                <img src="./img/main/main_about/slider_img.jpg" alt="">
                            </div>
                            <div class="default_page__slider_text default_slider__text">Подпись к изображению</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="default__container2 container">
            <br>
            <br>
            <div class="default__documents">
                <a href="#" class="default__document document">
                    <div class="document__row">
                        <div class="document__name">Устав ООО “ЛОТЭК”</div>
                        <div class="document__img this--pdf">
                        </div>
                    </div>
                    <div class="document__row">
                        <div class="document__icon">
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M1.64295 12.3306C2.48979 12.3306 3.17629 13.0171 3.17629 13.8639V18.975H19.8239V13.8639C19.8239 13.0171 20.5104 12.3306 21.3572 12.3306C22.2041 12.3306 22.8906 13.0171 22.8906 13.8639V20.5083C22.8906 21.3552 22.2041 22.0417 21.3572 22.0417H1.64295C0.796116 22.0417 0.109619 21.3552 0.109619 20.5083V13.8639C0.109619 13.0171 0.796116 12.3306 1.64295 12.3306Z"
                                      fill="#D03200"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M11.4999 1.66064C12.3467 1.66064 13.0332 2.34714 13.0332 3.19398V13.9912C13.0332 14.838 12.3467 15.5245 11.4999 15.5245C10.653 15.5245 9.96655 14.838 9.96655 13.9912V3.19398C9.96655 2.34714 10.653 1.66064 11.4999 1.66064Z"
                                      fill="#D03200"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M5.49246 8.74928C6.09457 8.1538 7.0654 8.15916 7.66089 8.76126L11.4993 12.6423L15.3376 8.76126C15.9331 8.15916 16.904 8.1538 17.5061 8.74928C18.1082 9.34477 18.1135 10.3156 17.518 10.9177L12.5895 15.901C12.3014 16.1923 11.9089 16.3562 11.4993 16.3562C11.0897 16.3562 10.6971 16.1923 10.4091 15.901L5.48048 10.9177C4.885 10.3156 4.89036 9.34477 5.49246 8.74928Z"
                                      fill="#D03200"/>
                            </svg>
                        </div>
                        <div class="document__weight">31.4 Мб</div>
                    </div>
                </a>
                <a href="#" class="default__document document">
                    <div class="document__row">
                        <div class="document__name">Устав ООО “ЛОТЭК” Устав ООО “ЛОТЭК” Устав ООО “ЛОТЭК” Устав ООО
                            “ЛОТЭК”
                        </div>
                        <div class="document__img this--pdf">
                        </div>
                    </div>
                    <div class="document__row">
                        <div class="document__icon">
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M1.64295 12.3306C2.48979 12.3306 3.17629 13.0171 3.17629 13.8639V18.975H19.8239V13.8639C19.8239 13.0171 20.5104 12.3306 21.3572 12.3306C22.2041 12.3306 22.8906 13.0171 22.8906 13.8639V20.5083C22.8906 21.3552 22.2041 22.0417 21.3572 22.0417H1.64295C0.796116 22.0417 0.109619 21.3552 0.109619 20.5083V13.8639C0.109619 13.0171 0.796116 12.3306 1.64295 12.3306Z"
                                      fill="#D03200"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M11.4999 1.66064C12.3467 1.66064 13.0332 2.34714 13.0332 3.19398V13.9912C13.0332 14.838 12.3467 15.5245 11.4999 15.5245C10.653 15.5245 9.96655 14.838 9.96655 13.9912V3.19398C9.96655 2.34714 10.653 1.66064 11.4999 1.66064Z"
                                      fill="#D03200"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M5.49246 8.74928C6.09457 8.1538 7.0654 8.15916 7.66089 8.76126L11.4993 12.6423L15.3376 8.76126C15.9331 8.15916 16.904 8.1538 17.5061 8.74928C18.1082 9.34477 18.1135 10.3156 17.518 10.9177L12.5895 15.901C12.3014 16.1923 11.9089 16.3562 11.4993 16.3562C11.0897 16.3562 10.6971 16.1923 10.4091 15.901L5.48048 10.9177C4.885 10.3156 4.89036 9.34477 5.49246 8.74928Z"
                                      fill="#D03200"/>
                            </svg>
                        </div>
                        <div class="document__weight">31.4 Мб</div>
                    </div>
                </a>
                <a href="#" class="default__document document">
                    <div class="document__row">
                        <div class="document__name">Устав ООО “ЛОТЭК”</div>
                        <div class="document__img this--pdf">
                        </div>
                    </div>
                    <div class="document__row">
                        <div class="document__icon">
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M1.64295 12.3306C2.48979 12.3306 3.17629 13.0171 3.17629 13.8639V18.975H19.8239V13.8639C19.8239 13.0171 20.5104 12.3306 21.3572 12.3306C22.2041 12.3306 22.8906 13.0171 22.8906 13.8639V20.5083C22.8906 21.3552 22.2041 22.0417 21.3572 22.0417H1.64295C0.796116 22.0417 0.109619 21.3552 0.109619 20.5083V13.8639C0.109619 13.0171 0.796116 12.3306 1.64295 12.3306Z"
                                      fill="#D03200"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M11.4999 1.66064C12.3467 1.66064 13.0332 2.34714 13.0332 3.19398V13.9912C13.0332 14.838 12.3467 15.5245 11.4999 15.5245C10.653 15.5245 9.96655 14.838 9.96655 13.9912V3.19398C9.96655 2.34714 10.653 1.66064 11.4999 1.66064Z"
                                      fill="#D03200"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M5.49246 8.74928C6.09457 8.1538 7.0654 8.15916 7.66089 8.76126L11.4993 12.6423L15.3376 8.76126C15.9331 8.15916 16.904 8.1538 17.5061 8.74928C18.1082 9.34477 18.1135 10.3156 17.518 10.9177L12.5895 15.901C12.3014 16.1923 11.9089 16.3562 11.4993 16.3562C11.0897 16.3562 10.6971 16.1923 10.4091 15.901L5.48048 10.9177C4.885 10.3156 4.89036 9.34477 5.49246 8.74928Z"
                                      fill="#D03200"/>
                            </svg>
                        </div>
                        <div class="document__weight">31.4 Мб</div>
                    </div>
                </a>
            </div>
            <br>
            <br>
            <h3>Заголовок таблицы h3 длинный с дополнительной информацией</h3>
        </div>
        <div class="default_table__wr">
            <table class="table">
                <thead>
                <tr>
                    <th>Город</th>
                    <th>Источник</th>
                    <th>Адрес абонента</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Кингисепп</td>
                    <td>г. Всеволожск, Шинников ул., д. 5к, уч. 47:07:0957004:248</td>
                    <td>ул. Рябиновая роща, д. 7</td>
                </tr>
                <tr>
                    <td>Кингисепп</td>
                    <td>г. Всеволожск, Шинников ул., д. 5к, уч. 47:07:0957004:248</td>
                    <td>ул. Рябиновая роща, д. 7</td>
                </tr>
                <tr>
                    <td>Кингисепп</td>
                    <td>г. Всеволожск, Шинников ул., д. 5к, уч. 47:07:0957004:248</td>
                    <td>ул. Рябиновая роща, д. 7</td>
                </tr>
                <tr>
                    <td>Кингисепп</td>
                    <td> г. Всеволожск, Шинников ул., д. 5к, уч. 47:07:0957004:248 г. Всеволожск, Шинников ул., д. 5к,
                        уч. 47:07:0957004:248
                    </td>
                    <td>ул. Рябиновая роща, д. 7</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="default__container container">
            <div class="default__links">
                <a href="#" class="btn">Целевая кнопка</a>
                <a href="#" class="btn this--wh">Нецелевая кнопка</a>
            </div>
            <a href="#" class="default__link_arrow">Ссылка
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L7 7L1 13" stroke="#26160C" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>
            </a>
            <br>
            <p>Разнообразный и богатый опыт говорит нам, что убеждённость некоторых оппонентов создаёт необходимость
                включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм
                воздействия. Учитывая ключевые сценарии поведения, социально-экономическое развитие не оставляет шанса
                для анализа существующих паттернов поведения!</p>
            <p>Но сложившаяся структура организации не оставляет шанса для дальнейших направлений развития. Принимая во
                внимание показатели успешности, постоянный количественный рост и сфера нашей активности выявляет срочную
                потребность форм воздействия. В своём стремлении повысить качество жизни, они забывают, что дальнейшее
                развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании
                укрепления моральных ценностей.</p>
            <div class="default__white_bg_text">
                <p>Разнообразный и богатый опыт говорит нам, что убеждённость некоторых оппонентов создаёт необходимость
                    включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм
                    воздействия. Учитывая ключевые сценарии поведения, социально-экономическое развитие не оставляет
                    шанса
                    для анализа существующих паттернов поведения!</p>
                <p>Но сложившаяся структура организации не оставляет шанса для дальнейших направлений развития. Принимая
                    во
                    внимание показатели успешности, постоянный количественный рост и сфера нашей активности выявляет
                    срочную
                    потребность форм воздействия. В своём стремлении повысить качество жизни, они забывают, что
                    дальнейшее
                    развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в
                    формировании
                    укрепления моральных ценностей.</p>
            </div>
            <br>
            <br>
            <p>Разнообразный и богатый опыт говорит нам, что убеждённость некоторых оппонентов создаёт необходимость
                включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм
                воздействия. Учитывая ключевые сценарии поведения, социально-экономическое развитие не оставляет шанса
                для анализа существующих паттернов поведения!</p>
            <p>Но сложившаяся структура организации не оставляет шанса для дальнейших направлений развития. Принимая во
                внимание показатели успешности, постоянный количественный рост и сфера нашей активности выявляет срочную
                потребность форм воздействия. В своём стремлении повысить качество жизни, они забывают, что дальнейшее
                развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании
                укрепления моральных ценностей.</p>
            <div class="default__review">
                <div class="default__review_img">
                    <img src="./img/default/review_img.png" alt="">
                </div>
                <div class="default__review_right">
                    <div class="default__review_text">
                        Разнообразный и богатый опыт говорит нам, что убеждённость некоторых оппонентов создаёт
                        необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом
                        комплекса форм воздействия. Учитывая ключевые сценарии поведения, социально-экономическое
                        развитие не оставляет шанса для анализа существующих паттернов поведения!
                    </div>
                    <div class="default__review_name">Варзарь Иван Тимофеевич</div>
                    <div class="default__review_job_title">Генеральный директор</div>
                </div>
            </div>
            <br>
            <h3>Заголовок маркированного списка</h3>
            <ul>
                <li>Разнообразный и богатый опыт говорит нам</li>
                <li>Разнообразный и богатый опыт говорит нам Разнообразный и богатый опыт говорит нам Разнообразный и богатый опыт говорит нам</li>
                <li>Разнообразный и богатый опыт говорит нам</li>
                <li>Разнообразный и богатый опыт говорит нам</li>
                <li>Разнообразный и богатый опыт говорит нам</li>
            </ul>
            <br>
            <h3>Заголовок нумерованного списка</h3>
            <ol>
                <li>Разнообразный и богатый опыт говорит нам</li>
                <li>Разнообразный и богатый опыт говорит нам Разнообразный и богатый опыт говорит нам Разнообразный и богатый опыт говорит нам</li>
                <li>Разнообразный и богатый опыт говорит нам</li>
                <li>Разнообразный и богатый опыт говорит нам</li>
                <li>Разнообразный и богатый опыт говорит нам</li>
            </ol>
            <br>
            <div class="default__items">
                <div class="default__item">
                    <div class="default__item_top">Полное наименование компании</div>
                    <div class="default__item_bottom">Акционерное общество «Ленинградская областная тепло - энергетическая компания»</div>
                </div>
                <div class="default__item">
                    <div class="default__item_top">Сокращенное наименование компании</div>
                    <div class="default__item_bottom">АО «ЛОТЭК»</div>
                </div>
                <div class="default__item">
                    <div class="default__item_top">Фактический адрес</div>
                    <div class="default__item_bottom">192171, Санкт-Петербург, ул. Седова, д.57</div>
                </div>
                <div class="default__item">
                    <div class="default__item_top">Юридический адрес</div>
                    <div class="default__item_bottom">188480, Ленинградская обл., г. Кингисепп, 5-й пр-д, зд. 5, лит. Г, ОФИС 10</div>
                </div>
                <div class="default__item">
                    <div class="default__item_top">Дата государственной регистрации</div>
                    <div class="default__item_bottom">04.07.2007</div>
                </div>
            </div>
        </div>
    </div>
</section>