@import "null";
@import "variables";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";
html {
	font-size: 10px;
}
body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	color: #26160C;
	font-variant-numeric: lining-nums;

	&.scroll-lock {
		overflow: hidden;
	}
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1560px;
	padding: 0 20px;
	margin: 0 auto;

	@media($tablet) {
		padding: 0 15px;
	}
}
.section {
	padding: 80px 0;
	&.this--top {
		padding: 80px 0 0 0;
		@media ($tablet) {
			padding: 40px 0 0 0;
		}
	}
	&.this--bottom {
		padding: 0 0 80px 0;
		@media ($tablet) {
			padding: 0 0 40px 0;
		}
	}

	@media ($tablet) {
		padding: 40px 0;
	}
}
.main {
	flex: 1 0 auto;
	padding-top: 147px;
	background: #F8F8F8;

	@media ($tablet) {
		padding-top: 75px;
	}
}

@import "./blocks/title";
@import "./blocks/btn";
@import "./blocks/img_text";
@import "./blocks/line";
@import "./blocks/document";
@import "./blocks/input";
@import "./blocks/breadcrumbs";
@import "./blocks/default_slider";
@import "./blocks/pagination";
@import "./blocks/popup";
@import "./blocks/table";
@import "./blocks/registration_pages";
@import "./blocks/filter";
@import "./blocks/lk";

@import "../components/header/header";
@import "../components/footer/footer";

@import "../components/main/main_top/main_top";
@import "../components/main/main_activities/main_activities";
@import "../components/main/main_map/main_map";
@import "../components/main/main_press/main_press";
@import "../components/main/main_about/main_about";

@import "../components/investors/investors_top/investors_top";
@import "../components/investors/emission/emission";
@import "../components/investors/documents/documents";
@import "../components/investors/investors_form/investors_form";
@import "../components/investors/contacts/contacts";

@import "../components/services/services";

@import "../components/press/press";

@import "../components/press_card/press_card";

@import "../components/services_card/services_card_top/services_card_top";
@import "../components/services_card/services_card_slider/services_card_slider";
@import "../components/services_card/work_steps/work_steps";
@import "../components/services_card/projects/projects";
@import "../components/services_card/services_card_form/services_card_form";
@import "../components/services_card/partners/partners";

@import "../components/management/management";

@import "../components/tariffs/tariffs";

@import "../components/licenses/licenses";

@import "../components/map/map";

@import "../components/schedule/schedule";

@import "../components/page_404/page_404";

@import "../components/contacts/contacts";

@import "../components/search_result/search_result";

@import "../components/default/default";

@import "../components/lk/giving/giving";

@import "../components/lk/history/history";

@import "../components/lk/documents/documents";

@import "../components/lk/my_data_company/my_data";

@import "../components/lk/requisites_company/requisites";

@import "../components/lk/help/help";

@import "../components/lk/applications_client/applications";

@import "../components/lk/applications_forms/application_form";

@import "../components/lk/applications_client/application";





