<section class="page_404">
    <div class="container">
        <div class="page_404__content">
            <a href="#" class="page_404__link_back"><svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 1L1 7L7 13" stroke="#26160C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
                Вернуться на предыдущую страницу</a>
            <div class="page_404__row">
                <div class="page_404__left">
                    <div class="page_404__title_wr">
                        <h1 class="page_404__title">Ошибка</h1>
                        <div class="page_404__title_img">
                            <img src="./img/page_404/404.png" alt="">
                        </div>
                    </div>
                    <div class="page_404__text">К сожалению, мы не можем найти эту страницу.<br> Вы можете перейти на Главную страницу или вернуться на предыдущую</div>
                    <a href="/" class="page_404__link btn this--wh">Главная страница</a>
                </div>
                <div class="page_404__right">
                    <div class="page_404__img">
                        <img src="./img/page_404/1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>